@using PMS_PropertyHapa.Models.DTO;
@model PMS_PropertyHapa.Models.DTO.AssetAndOwnersViewModel

@{
    var formTitle = Model?.Asset?.AssetId > 0 ? "Edit" : "Add";
    ViewData["Title"] = "Add Asset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

    <style>
        .rounded-circle-important {
            border-radius: 50% !important;
        }
    </style>

    <style>

        .unit-fields {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 10px;
        }



        .thick-black-underline {
            height: 2px;
            background-color: black;
            width: 100%;
            margin: 20px 0;
        }

        #step2 .row {
            flex-wrap: nowrap;
        }

        #step2 .col-md-6 {
            flex: 0 0 50%;
            max-width: 50%;
        }


        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 8%;
        }

            .row input {
                box-sizing: border-box;
            }

        .small-square-card-container {
            max-width: 20%;
        }

        #step2 .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 8%;
        }



        .small-square-card,
        .property-subtype-card {
            position: relative;
            width: 100%;
            overflow: hidden;
            border-radius: 5px;
            margin-top: 5px;
            font-size: 0.8rem;
        }

            .small-square-card::before,
            .property-subtype-card::before {
                content: '';
                display: block;
                padding-top: 100%;
            }

            .small-square-card .card-body,
            .property-subtype-card .card-body {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
            }

            .small-square-card i,
            .property-subtype-card i {
                font-size: 1rem;
            }

        .selected {
            border: 3px solid #007bff;
            background-color: #e9ecef;
        }

        /* Add responsive adjustments */
        @@media (max-width: 768px) {
            .small-square-card-container {
                flex: 0 0 100%;
                max-width: 100%;
                padding: 0 5px;
                margin-bottom: 20px;
            }

            .row {
                gap: 5px;
            }

            .small-square-card,
            .property-subtype-card {
                margin-top: 10px;
                font-size: 0.9rem;
            }

            .f1-steps {
                flex-direction: column;
            }

            .f1-step-icon {
                font-size: 1rem;
            }

            .card-body {
                padding: 10px;
            }

            .form-navigation,
            .modal-footer {
                flex-direction: column-reverse;
            }

            .btn-next,
            .btn-previous,
            .closebutton,
            #saveOwner {
                width: 100%;
                margin-top: 10px;
            }

            .modal-dialog {
                margin: 20px;
            }

            .modal-content {
                padding: 10px;
            }

            @@media (max-width: 768px) {
                .row {
                    justify-content: center;
                }

                @@media (max-width: 768px) and (min-width: 576px) {
                    .row {
                        justify-content: space-between;
                    }
                }

                @@media (max-width: 576px) {
                    .row {
                        justify-content: center;
                    }
                }
            }
        }

    </style>



</head>

<!-- Page Sidebar Ends-->
<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto">
                    <h3>@formTitle Property</h3>
                </div>
                <div class="col-auto">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("Index","Assests")">
                                    <i data-feather="home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">Property</li>
                            <li class="breadcrumb-item active" aria-current="page">@formTitle</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>


    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header pb-0">
                    </div>
                    <div class="card-body">
                        <form class="f1" method="post" id="multiStepForm" enctype="multipart/form-data">
                            <div class="f1-steps" style="display: flex; justify-content: space-between;">
                                <div class="f1-progress" style="position: absolute; width: 100%; bottom: 0;">
                                    <div class="f1-progress-line" id="progressLine"></div>
                                </div>
                                <div class="f1-step active" id="stepIndicator1" style="flex: 1; text-align: center;">
                                    <div class="f1-step-icon"><i class="fa fa-user"></i></div>
                                    <p>Type</p>
                                </div>
                                <div class="f1-step active" id="stepIndicator2" style="flex: 1; text-align: center;">
                                    <div class="f1-step-icon"><i class="fa fa-key"></i></div>
                                    <p>Address</p>
                                </div>
                                <div class="f1-step active" id="stepIndicator3" style="flex: 1; text-align: center;">
                                    <div class="f1-step-icon"><i class="fa fa-building"></i></div>
                                    <p>Units</p>
                                </div>
                                <div class="f1-step active" id="stepIndicator4" style="flex: 1; text-align: center;">
                                    <div class="f1-step-icon"><i class="fa fa-bank"></i></div>
                                    <p>Bank Accounts</p>
                                </div>
                                <div class="f1-step active" id="stepIndicator5" style="flex: 1; text-align: center;">
                                    <div class="f1-step-icon"><i class="fa fa-dollar"></i></div>
                                    <p>Reserve Funds</p>
                                </div>
                                <div class="f1-step" id="stepIndicator6" style="flex: 1; text-align: center;">
                                    <div class="f1-step-icon"><i class="fa fa-users"></i></div>
                                    <p>Ownership</p>
                                </div>
                            </div>
                            <fieldset id="step1" class="step-section active">
                                <h3>Select Property Type</h3>
                                <div class="row">
                                    <!-- Residential Card -->
                                    <div class="small-square-card-container">
                                        <div class="card property-type-card small-square-card" data-type="residential">
                                            <div class="card-body text-center">
                                                <i class="fa fa-home fa-2x"></i>
                                                <h5 class="card-title mt-2">Residential</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Commercial Card -->
                                    <div class="small-square-card-container">
                                        <div class="card property-type-card small-square-card" data-type="commercial">
                                            <div class="card-body text-center">
                                                <i class="fa fa-building fa-2x"></i>
                                                <h5 class="card-title mt-2">Commercial</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Thick Black Underline -->
                                <div class="thick-black-underline"></div>
                                <!-- Subtypes will be populated here based on selection -->
                                <div id="subtypeSelection" class="mt-4"></div>

                            </fieldset>

                            <fieldset id="step2" class="step-section">
                                <h3 class="mb-5">Property Info</h3>
                                <div class="row">
                                    <div class="col-md-4 mb-2">
                                        <label class="sr-only" for="buildingNo">Building #</label>
                                        <input class="form-control" id="buildingNo" type="text" name="buildingNo" placeholder="building #" value="@Model?.Asset?.BuildingNo" required="">
                                    </div>
                                    <div class="col-md-4 mb-2">
                                        <label class="sr-only" for="buildingName">Building Name</label>
                                        <input class="form-control" id="buildingName" type="text" name="buildingName" placeholder="Building Name" value="@Model?.Asset?.BuildingName" required="">
                                    </div>
                                </div>
                                <h3 class="mb-5">Property Address</h3>
                                <div class="row">
                                    <div class="col-md-4 mb-2">
                                        <label class="sr-only" for="street1">Street 1</label>
                                        <input class="form-control" id="street1" type="text" name="street1" placeholder="Street 1" value="@Model?.Asset?.Street1" required="">
                                    </div>
                                    <div class="col-md-4 mb-2">
                                        <label class="sr-only" for="street2">Street 2</label>
                                        <input class="form-control" id="street2" type="text" name="street2" placeholder="Street 2" value="@Model?.Asset?.Street2">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 mb-2">
                                        <label class="sr-only" for="city">City</label>
                                        <input class="form-control" id="city" type="text" name="city" placeholder="City" required="" value="@Model?.Asset?.City">
                                    </div>
                                    <div class="col-md-4 mb-2">
                                        <label class="sr-only" for="state">State</label>
                                        <input class="form-control" id="state" type="text" name="state" placeholder="State" required="" value="@Model?.Asset?.State">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 mb-2">
                                        <label class="sr-only" for="country">Country</label>
                                        <input class="form-control" id="country" type="text" name="country" placeholder="Country" required="" value="@Model?.Asset?.Country">
                                    </div>
                                    <div class="col-md-4 mb-2">
                                        <label class="sr-only" for="zipcode">Zip Code</label>
                                        <input class="form-control" id="zipcode" type="text" name="zipcode" placeholder="Zip Code" required="" value="@Model?.Asset?.Zipcode">
                                    </div>
                                </div>

                                <div class="thick-black-underline"></div>

                                <div class="row">
                                    <div class="col-md-4 mb-2">
                                        <div class="form-group">
                                            <label for="assetPicture">Upload Picture</label>
                                            <input type="file" class="form-control" id="assetPicture" name="assetPicture" accept="image/*">
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-2">
                                        <div id="picturePreviewContainer" class="rounded">
                                            @if (Model?.Asset?.Image != null)
                                            {
                                                <img src="@Model.Asset.Image" id="image" name="Image" alt="Asset Picture" class="img-fluid">
                                            }
                                            else
                                            {
                                                <p>No picture uploaded</p>
                                            }
                                        </div>

                                    </div>

                                </div>
                            </fieldset>


                            <fieldset id="step3" class="step-section">
                                <h3>Unit Information</h3>
                                <div id="unitFieldsContainer">
                                    @if (Model?.Asset?.Units != null && Model?.Asset?.Units.Count > 0)
                                    {
                                        for (int unitIndex = 0; unitIndex < Model.Asset.Units.Count; unitIndex++)
                                        {
                                            var unit = Model.Asset.Units[unitIndex];
                                            <div class="unit-fields mb-3" id="unitFields@(unitIndex + 1)">
                                                <hr>
                                                <div class="form-row">
                                                    <input type="hidden" name="unitId" value="@unit.UnitId" id="hiddenUnitId">
                                                    <div class="col">
                                                        <input type="text" class="form-control" value="@unit.UnitName" placeholder="Unit Name" name="unitName">
                                                    </div>
                                                    <div class="col">
                                                        <input type="number" class="form-control" value="@unit.Beds" placeholder="Beds" name="beds">
                                                    </div>
                                                    <div class="col">
                                                        <input type="number" class="form-control" value="@unit.Bath" placeholder="Bath" name="bath">
                                                    </div>
                                                    <div class="col">
                                                        <input type="number" class="form-control" value="@unit.Size" placeholder="Size" name="size">
                                                    </div>
                                                    <div class="col">
                                                        <input type="number" class="form-control" value="@unit.Rent" placeholder="Rent" name="rent">
                                                    </div>
                                                </div>
                                                <div class="row mb-4">
                                                    <h5>Unit @(unitIndex + 1) <a class="float-right remove-unit" data-unit="@(unitIndex + 1)"><i class="fa fa-times"></i></a></h5>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                                <div class="mb-3" style="text-align: right; margin-top: 20px;">
                                    <a href="javascript:void(0);" class="btn btn-success" id="addAnotherUnit" style="display: inline-block;"><i class="fa fa-plus"></i> Add Unit</a>
                                </div>
                            </fieldset>


                            <fieldset id="step4" class="step-section">
                                <h3>Bank Accounts</h3>
                                <div class="row">
                                    <!-- Use Company Default Account Card -->
                                    <div class="small-square-card-container">
                                        <div class="card bank-account-option small-square-card" data-option="company-default">
                                            <div class="card-body text-center">
                                                <h5 class="card-title">Use Company Default Account</h5>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Specify Bank Account Card -->
                                    <div class="small-square-card-container">
                                        <div class="card bank-account-option small-square-card" data-option="specify-account">
                                            <div class="card-body text-center">
                                                <h5 class="card-title">Specify Bank Account</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>




                            </fieldset>


                            <fieldset id="step5" class="step-section">
                                <h3>Reserve Funds</h3>
                                <div class="row">
                                    <!-- Set Property Reserve Card -->
                                    <div class="small-square-card-container">
                                        <div class="card reserve-funds-card small-square-card" data-option="set-reserve">
                                            <div class="card-body text-center">
                                                <h5 class="card-title mt-2">Set Property Reserve</h5>
                                                <p>This option will set up a reserve fund for the property.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Don't Set Property Reserve Card -->
                                    <div class="small-square-card-container">
                                        <div class="card reserve-funds-card small-square-card" data-option="dont-set-reserve">
                                            <div class="card-body text-center">
                                                <h5 class="card-title mt-2">Don't Set Property Reserve</h5>
                                                <p>This option will not set up a reserve fund for the property.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </fieldset>

                            <fieldset id="step6" class="step-section">
                                <h3>Ownership</h3>
                                <div class="row">
                                    <!-- Owned by Me Card -->
                                    <div class="small-square-card-container">
                                        <div class="card ownership-card square-card small-square-card" data-option="owned-by-me">
                                            <div class="card-body text-center">
                                                <h5 class="card-title mt-2">Owned by Me</h5>
                                                <p>I am the owner of this property.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Owned by Someone Else Card -->
                                    <div class="small-square-card-container">
                                        <div class="card ownership-card square-card small-square-card" data-option="owned-by-someone-else">
                                            <div class="card-body text-center">
                                                <h5 class="card-title mt-2">Owned by Someone Else</h5>
                                                <p>This property is owned by someone else.</p>
                                            </div>
                                        </div>
                                        <div id="addOwnerSection" style="display: none;">
                                            <div class="card add-owner-card text-center">
                                                <div class="card-body">
                                                    <i class="fa fa-plus"></i>
                                                    <p>Add Owner</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container my-4">
                                        <table class="table table-striped" id="ownerList" style="display: none;">
                                            <thead>
                                                <tr>
                                                    <th>First Name</th>
                                                    <th>Last Name</th>
                                                    <th>Email</th>
                                                    <th>Picture</th>
                                                    <th>Country</th> 
                                                    <th>Select</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.Owners.OrderBy(a => a.FirstName))
                                                {
                                                    <tr class="owner-row" data-id="@item.OwnerId">
                                                        <td>@item.FirstName</td>
                                                        <td>@item.LastName</td>
                                                        <td>@item.EmailAddress</td>
                                                        <td><img src="@item.Picture" class="img-50 img-fluid m-r-20 rounded-circle" alt="Owner Picture"></td>
                                                        <td>@item.Country</td>
                                                        <td><input type="checkbox" @(item.OwnerId == Model?.Asset?.OwnerId ? "checked" : "") class="select-owner-checkbox"></td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                        <table class="table table-bordered" id="selectedOwnerTable" style="display: none;">
                                            <thead>
                                                <tr>
                                                    <th>Select</th>
                                                    <th>First Name</th>
                                                    <th>Last Name</th>
                                                    <th>Email</th>
                                                    <th>Picture</th>
                                                    <th>Country</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </fieldset>

                            <!-- Hidden inputs for AssetDTO -->
                            <input type="hidden" value="@Model?.Asset?.AssetId" id="hiddenAssetId">
                            <input type="hidden" value="@Model?.Asset?.SelectedPropertyType" name="SelectedPropertyType" id="SelectedPropertyType">
                            <input type="hidden" value="@Model?.Asset?.SelectedSubtype" name="SelectedSubtype" id="SelectedSubtype">
                            <input type="hidden" value="@Model?.Asset?.SelectedBankAccountOption" name="SelectedBankAccountOption" id="SelectedBankAccountOption">
                            <input type="hidden" value="@Model?.Asset?.SelectedReserveFundsOption" name="SelectedReserveFundsOption" id="SelectedReserveFundsOption">
                            <input type="hidden" value="@Model?.Asset?.SelectedOwnershipOption" name="SelectedOwnershipOption" id="SelectedOwnershipOption">
                            <input type="hidden" name="selectedOwnerId" id="selectedOwnerId">
                            <input type="hidden" id="hiddenImageName" id="PictureFileName">
                            <input type="hidden" id="hiddenImage" name="Image">


                            <div class="form-navigation" style="text-align: right;">
                                <button type="button" class="btn btn-danger btn-previous" style="display:none;">Previous</button>
                                <button type="button" id="submitForm" class="btn btn-success btn-next">Next</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>


<div id="addOwnerModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Owner</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="ownerForm">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" id="OwnerFirstName" placeholder="Enter first name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" id="OwnerLastName" placeholder="Enter last name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="OwnerEmail">Email</label>
                        <input type="email" class="form-control" id="OwnerEmail" placeholder="Enter email address">
                    </div>
                    <div class="form-group">
                        <label for="OwnerPostalCode">Owner Postal Code</label>
                        <input type="text" class="form-control" id="OwnerPostalCode" placeholder="Enter company name">
                    </div>
                    <div class="form-group">
                        <label for="OwnerAddress">Address</label>
                        <input type="text" class="form-control" id="OwnerAddress" placeholder="Enter address">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="OwnerDistrict">District</label>
                            <input type="text" class="form-control" id="OwnerDistrict" placeholder="Enter district">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="OwnerRegion">Region</label>
                            <input type="text" class="form-control" id="OwnerRegion" placeholder="Enter region">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="OwnerCountryCode">Country Code</label>
                            <input type="text" class="form-control" id="OwnerCountryCode" placeholder="Enter country code">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="OwnerCountry">Country</label>
                        <input type="text" class="form-control" id="OwnerCountry" placeholder="Enter country">
                    </div>
                    <div class="mb-3">
                        <label for="PictureUrl">Picture</label>
                        <input type="file" class="form-control" id="PictureUrl" name="pictureUrl" accept="image/*">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger closebutton" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="saveOwner">Save</button>
            </div>
        </div>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    var currentStep = 1;
    var totalSteps = 6;


    function updateSelectedOwnerDetails() {
        var selectedCheckbox = $('#ownerList .select-owner-checkbox:checked');
        if (selectedCheckbox.length > 0) {
            var selectedRow = selectedCheckbox.closest('tr');
            var selectedTbody = $('#selectedOwnerTable tbody');
            selectedTbody.empty();
                $("#selectedOwnerId").val(selectedRow.attr('data-id'))
            $('#selectedOwnerTable').show();

            var rowHtml = `<tr>
                           <td>Selected</td>
                           <td>${selectedRow.find('td:eq(0)').text()}</td>
                           <td>${selectedRow.find('td:eq(1)').text()}</td>
                           <td>${selectedRow.find('td:eq(2)').text()}</td>
                           <td> <img src="${selectedRow.find('td:eq(3) img').attr('src')}" class="img-50 img-fluid m-r-20 rounded-circle" alt="Owner Picture"></td>
                           <td>${selectedRow.find('td:eq(9)').text()}</td>
                           </tr>`;
            selectedTbody.append(rowHtml);

            $('#hiddenOwnerImage').val(selectedRow.find('td:eq(3) img').attr('src'));

        }else{
            $('#selectedOwnerTable').hide();

        }
    }

    $('#ownerList').on('change', '.select-owner-checkbox', function () {
        $('.select-owner-checkbox').not(this).prop('checked', false);
        updateSelectedOwnerDetails();
    });


    function validateCurrentStep() {
        var isValid = true;
        var Toast = Swal.mixin({ toast: true, position: 'top-end', showConfirmButton: false, progressBar: true, timer: 3000 });

        switch (currentStep) {
            case 1:
                if (!$('.property-type-card.selected').length || !$('.property-subtype-card.selected').length) {
                    isValid = false;
                    Toast.fire({
                        icon: 'error',
                        title: 'Please select property type and subtype.'
                    });
                }
                break;
            case 2:
                if (!$('#buildingName').val() || !$('#buildingNo').val()) {
                    isValid = false;
                    Toast.fire({
                        icon: 'error',
                        title: 'Please fill in all address info.'
                    });
                }else if (!$('#street1').val() || !$('#city').val() || !$('#state').val() || !$('#country').val() || !$('#zipcode').val()) {
                    isValid = false;
                    Toast.fire({
                        icon: 'error',
                        title: 'Please fill in all address fields.'
                    });
                }
                break;
            case 3:
                var unitsValid = true;
                $('#unitFieldsContainer .unit-fields').each(function () {
                    var unitNameValid = $(this).find('[name="unitName"]').val() !== '';
                    var bedsValid = $(this).find('[name="beds"]').val() !== '';
                    var bathValid = $(this).find('[name="bath"]').val() !== '';
                    var sizeValid = $(this).find('[name="size"]').val() !== '';
                    var rentValid = $(this).find('[name="rent"]').val() !== '';


                    if (!unitNameValid || !bedsValid || !bathValid || !sizeValid || !rentValid) {
                        unitsValid = false;
                    }
                });


                if (!unitsValid) {
                    isValid = false;
                    Toast.fire({
                        icon: 'error',
                        title: 'Please fill in all fields for each unit.'
                    });
                }
                break;
            case 4:
                if (!$('.bank-account-option.selected').length) {
                    isValid = false;
                    Toast.fire({
                        icon: 'error',
                        title: 'Please select a bank account option.'
                    });
                }
                break;
            case 5:
                if (!$('.reserve-funds-card.selected').length) {
                    isValid = false;
                    Toast.fire({
                        icon: 'error',
                        title: 'Please select a reserve funds option.'
                    });
                }
                break;
            case 6:
                if (!$('.ownership-card.selected').length) {
                    isValid = false;
                    Toast.fire({
                        icon: 'error',
                        title: 'Please select an ownership option.'
                    });
                }
                break;
            default:
                break;
        }
        return isValid;
    }


    function navigateToStep(step) {
        $('.step-section').hide();
        $('#step' + step).fadeIn('slow');
        currentStep = step;

        var progressWidth = ((step - 1) / (totalSteps - 1)) * 100;
        $('.f1-progress-line').css('width', progressWidth + '%');

        $('.f1-step').removeClass('active');
        $('#stepIndicator' + step).addClass('active');

        if (step === 1) {
            $('.btn-previous').hide();
        } else {
            $('.btn-previous').show();
        }

        if (step == totalSteps) {
            $('.btn-next').text('Submit').attr('type', 'submit').off('click').on('click', function (e) {

                e.preventDefault();

            });
        } else {
            $('.btn-next').text('Next').attr('type', 'button').off('click').on('click', function () {
                var isValid = validateCurrentStep();

                if (isValid) {
                    if (currentStep < totalSteps) {
                        navigateToStep(currentStep + 1);
                    }
                }
            });
        }
    }



    $(document).ready(function () {

        $('.btn-previous').click(function () {
            if (currentStep > 1) {
                navigateToStep(currentStep - 1);
            }
        });

        navigateToStep(1);

        $('.property-type-card').click(function () {
            var type = $(this).data('type');

            $('.property-type-card').removeClass('selected');
            $(this).addClass('selected');
            displaySubtypes(type);
        });

        $(document).on('click', '.property-subtype-card', function () {

            $('.property-subtype-card').removeClass('selected');

            $(this).addClass('selected');
        });


        $('.property-type-card').click(function () {
            var type = $(this).data('type');
            $('#SelectedPropertyType').val(type);
        });

        $(document).on('click', '.property-subtype-card', function () {
            var subtype = $(this).data('subtype');
            $('#SelectedSubtype').val(subtype);
        });


    });

    $('.bank-account-option').click(function () {
        var option = $(this).data('option');
        $('#SelectedBankAccountOption').val(option);
    });

    $('.reserve-funds-card').click(function () {
        var option = $(this).data('option');
        $('#SelectedReserveFundsOption').val(option);
    });

    $('.ownership-card').click(function () {
        var option = $(this).data('option');
        $('#SelectedOwnershipOption').val(option);
    });




    $('.reserve-funds-card').click(function () {

        $('.reserve-funds-card').removeClass('selected');

        $(this).addClass('selected');
    });



    $(document).ready(function () {

        $('.bank-account-option').click(function () {

            $('.bank-account-option').removeClass('selected');
            $(this).addClass('selected');
        });
    });


    $('.ownership-card').click(function () {

        $('.ownership-card').removeClass('selected');

        $(this).addClass('selected');

        if ($(this).data('option') === 'owned-by-someone-else') {
            $('#addOwnerSection').show();
            $('#ownerList').show();
        } else {
            $('#addOwnerSection').hide();
            $('#ownerList').hide();
            $('#selectedOwnerTable').hide();
        }
    });

    $('.add-owner-card').click(function () {
        $('#addOwnerModal').modal('show');
    });


    $('.close').click(function () {
        $('#addOwnerModal').modal('hide');
    });

    $('.closebutton').click(function () {
        $('#addOwnerModal').modal('hide');
    });



    $('#closeModal').click(function () {
        $('#addOwnerModal').modal('hide');
    });

    $('#addOwnerModal').on('click', function (event) {
        if ($(event.target).is('.modal')) {
            $('#addOwnerModal').modal('hide');
        }
    });




    function collectFormData() {
        var units = collectUnitsData();

        var assetDTO = {
            AssetId: $('#hiddenAssetId').val(),
            SelectedPropertyType: $('#SelectedPropertyType').val(),
            SelectedSubtype: $('#SelectedSubtype').val(),
            buildingNo: $('#buildingNo').val(),
            buildingName: $('#buildingName').val(),
            Street1: $('#street1').val(),
            Street2: $('#street2').val(),
            City: $('#city').val(),
            State: $('#state').val(),
            Country: $('#country').val(),
            Zipcode: $('#zipcode').val(),
            Units: units,
            Image: $('#hiddenImage').val(),
            PictureFileName: $('#hiddenImageName').val(),
            SelectedBankAccountOption: $('#SelectedBankAccountOption').val(),
            SelectedReserveFundsOption: $('#SelectedReserveFundsOption').val(),
            SelectedOwnershipOption: $('#SelectedOwnershipOption').val(),
            OwnerId: $('#selectedOwnerId').val(),
        };


        return assetDTO;
    }


    var isEditMode = '@Model?.Asset?.AssetId' !== '';

    $('#submitForm').click(function (event) {
        event.preventDefault();

        debugger;
        var isValid = validateCurrentStep();
        if (isValid) {
            if (currentStep < totalSteps) {
                navigateToStep(currentStep + 1);
            } else {
                var userId = localStorage.getItem('userId');
                var formData = collectFormData();
                formData.AppTId = userId;
                var submitUrl = isEditMode ? `/Assests/UpdateAsset` : '/Assests/AddAsset';

                $.ajax({
                    url: submitUrl,
                    type: 'POST',
                    contentType: 'application/x-www-form-urlencoded',
                    data: formData,
                    success: function (response) {
                        console.log("Success:", response);
                        window.location.href = '/Assests/Index';
                    },
                    error: function (xhr, status, error) {
                        console.error("Error:", error);
                    }
                });
            }
        } else {

            console.log('Form validation failed. Please check the inputs.');
        }
    });

    function collectUnitsData() {
        var units = [];
        $('#unitFieldsContainer .unit-fields').each(function () {
            var unit = {
                UnitId: $(this).find('input[name="unitId"]').val(),
                UnitName: $(this).find('input[name="unitName"]').val(),
                Beds: parseInt($(this).find('input[name="beds"]').val(), 10),
                Bath: parseInt($(this).find('input[name="bath"]').val(), 10),
                Size: parseInt($(this).find('input[name="size"]').val(), 10),
                Rent: parseFloat($(this).find('input[name="rent"]').val())
            };
            units.push(unit);
        });
        return units;
    }




    $(document).ready(function () {
        addUnitFields();

        $('#addAnotherUnit').click(function () {
            addUnitFields();
        });

        $('#unitFieldsContainer').on('click', '.remove-unit', function () {
            var unitId = $(this).attr('data-unit');
            $('#unitFields' + unitId).remove();
        });
    });

    function addUnitFields() {
        var unitIndex = $('#unitFieldsContainer .unit-fields').length + 1;
        var unitFieldsHtml = `<div class="unit-fields mb-3" id="unitFields${unitIndex}">
                                <hr>
                                <div class="form-row">
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="Unit Name" name="unitName">
                                    </div>
                                    <div class="col">
                                        <input type="number" class="form-control" placeholder="Beds" name="beds">
                                    </div>
                                    <div class="col">
                                        <input type="number" class="form-control" placeholder="Bath" name="bath">
                                    </div>
                                    <div class="col">
                                        <input type="number" class="form-control" placeholder="Size" name="size">
                                    </div>
                                    <div class="col">
                                        <input type="number" class="form-control" placeholder="Rent" name="rent">
                                    </div>
                                </div>
                                <div class="row mb-4">
                                            <h5>Unit ${unitIndex} <a class="float-right remove-unit" data-unit="${unitIndex}"><i class="fa fa-times"></i></a></h5>
                                    </div>
                            </div>`;
        $('#unitFieldsContainer').append(unitFieldsHtml);
    }



    $('#saveOwner').click(function () {
        // Collect new owner data from the form
        var ownerFirstName = $('#OwnerFirstName').val();
        var ownerLastName = $('#OwnerLastName').val();
        var ownerEmail = $('#OwnerEmail').val();
        var ownerPostalCode = $('#OwnerPostalCode').val();
        var ownerAddress = $('#OwnerAddress').val();
        var ownerDistrict = $('#OwnerDistrict').val();
        var ownerRegion = $('#OwnerRegion').val();
        var ownerCountryCode = $('#OwnerCountryCode').val();
        var ownerCountry = $('#OwnerCountry').val();

        var fileInput = document.getElementById('PictureUrl');
        if (fileInput.files && fileInput.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#hiddenOwnerImage').val(e.target.result);
                $('#selectedOwnerTable tbody').empty();

                    var newRowHtml = `<tr>
                                     <td>Selected</td>
                                     <td>${ownerFirstName}</td>
                                     <td>${ownerLastName}</td>
                                     <td>${ownerEmail}</td>
                                     <td> <img src="${e.target.result}" class="img-50 img-fluid m-r-20 rounded-circle" alt="Owner Picture"></td>
                                     <td>${ownerCountry}</td>
                                     </tr>`;
                $('#selectedOwnerTable tbody').append(newRowHtml);

                $('#selectedOwnerTable').show();

            };

            reader.readAsDataURL(fileInput.files[0]);
        } else {
            $('#selectedOwnerTable tbody').empty();

                var newRowHtml = `<tr>
                                    <td>Selected</td>
                                    <td>${ownerFirstName}</td>
                                    <td>${ownerLastName}</td>
                                    <td>${ownerEmail}</td>
                                    <td>N/A</td>
                                    <td>${ownerCountry}</td>
                                  </tr>`;
            
            $('#selectedOwnerTable tbody').append(newRowHtml);
            $('#selectedOwnerTable').show();
        }
        $('#addOwnerModal').modal('hide');
        $('#ownerForm')[0].reset();
    });

</script>


<script>
    $(document).ready(function () {

        var selectedPropertyType = '@Model?.Asset?.SelectedPropertyType';
        $('.property-type-card').each(function () {
            if ($(this).data('type') === selectedPropertyType) {
                $(this).addClass('selected');
                console.log("asds")
                console.log(selectedPropertyType)
                displaySubtypes(selectedPropertyType);
            }
        });


        var selectedSubtype = '@Model?.Asset?.SelectedSubtype';
        $('.property-subtype-card').each(function () {
            if ($(this).data('subtype') === selectedSubtype) {
                $(this).addClass('selected');
            }
        });


        var selectedBankAccountOption = '@Model?.Asset?.SelectedBankAccountOption';
        $('.bank-account-option').each(function () {
            if ($(this).data('option') === selectedBankAccountOption) {
                $(this).addClass('selected');
            }
        });

        // Set selected state for Reserve Funds Options
        var selectedReserveFundsOption = '@Model?.Asset?.SelectedReserveFundsOption';
        $('.reserve-funds-card').each(function () {
            if ($(this).data('option') === selectedReserveFundsOption) {
                $(this).addClass('selected');
            }
        });

        // Set selected state for Ownership Options
        var selectedOwnershipOption = '@Model?.Asset?.SelectedOwnershipOption';
        $('.ownership-card').each(function () {
            if ($(this).data('option') === selectedOwnershipOption) {
                $(this).addClass('selected');
              if ($(this).data('option') === 'owned-by-someone-else') {
                $('#addOwnerSection').show();
                $('#ownerList').show();
                updateSelectedOwnerDetails();
              } else {
                  $('#addOwnerSection').hide();
                  $('#ownerList').hide();
                  $('#selectedOwnerTable').hide();
              }
            }
        });

        $("#assetPicture").change(function () {
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                    $('#hiddenImageName').val(this.files[0].name);

                reader.onload = function (e) {
                    // Display the image preview
                    $('#picturePreviewContainer').html(`<img src="${e.target.result}" alt="Asset Picture" class="img-fluid">`);

                    // Set the base64 string to the hidden input
                    $('#hiddenImage').val(e.target.result);
                };

                reader.readAsDataURL(this.files[0]);
            }
        });
    });


  function displaySubtypes(type) {
    console.log(type)
    var subtypesHtml = '';
    if (type === 'residential') {
    // Residential Subtypes
    subtypesHtml = `<div class="row">
                        <div class="small-square-card-container">
                            <div class="card property-subtype-card small-square-card" data-subtype="single-family">
                                <div class="card-body text-center">
                                    <i class="fa fa-home fa-2x"></i>
                                    <h5 class="card-title mt-2">Single Family</h5>
                                </div>
                            </div>
                        </div>
                        <div class="small-square-card-container">
                            <div class="card property-subtype-card small-square-card" data-subtype="multi-family">
                                <div class="card-body text-center">
                                    <i class="fa fa-building fa-2x"></i>
                                    <h5 class="card-title mt-2">Multi Family</h5>
                                </div>
                            </div>
                        </div>
                        <div class="small-square-card-container">
                            <div class="card property-subtype-card small-square-card" data-subtype="condo">
                                <div class="card-body text-center">
                                        <i class="fa fa-warehouse fa-2x"></i>
                                    <h5 class="card-title mt-2">Condo</h5>
                                </div>
                            </div>
                        </div>
                        <div class="small-square-card-container">
                            <div class="card property-subtype-card small-square-card" data-subtype="townhome">
                                <div class="card-body text-center">
                                    <i class="fa fa-home fa-2x"></i>
                                    <h5 class="card-title mt-2">Townhome</h5>
                                </div>
                            </div>
                        </div>
                        <div class="small-square-card-container">
                            <div class="card property-subtype-card small-square-card" data-subtype="other">
                                <div class="card-body text-center">
                                    <i class="fa fa-building fa-2x"></i>
                                    <h5 class="card-title mt-2">Other</h5>
                                </div>
                            </div>
                        </div>
                    </div>`;

                } else if (type === 'commercial') {
                    // Commercial Subtypes
                    subtypesHtml = `<div class="row">
                                        <div class="small-square-card-container">
                                            <div class="card property-subtype-card small-square-card" data-subtype="industrial">
                                                <div class="card-body text-center">
                                                    <i class="fa fa-industry fa-2x"></i>
                                                    <h5 class="card-title">Industrial</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="small-square-card-container">
                                            <div class="card property-subtype-card small-square-card" data-subtype="office">
                                                <div class="card-body text-center">
                                                    <i class="fa fa-building fa-2x"></i>
                                                    <h5 class="card-title">Office</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="small-square-card-container">
                                            <div class="card property-subtype-card small-square-card" data-subtype="retail">
                                                <div class="card-body text-center">
                                                    <i class="fa fa-shopping-bag fa-2x"></i>
                                                    <h5 class="card-title">Retail</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="small-square-card-container">
                                            <div class="card property-subtype-card small-square-card" data-subtype="shopping-center">
                                                <div class="card-body text-center">
                                                    <i class="fa fa-shopping-cart fa-2x"></i>
                                                    <h5 class="card-title">Shopping Center</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="small-square-card-container">
                                            <div class="card property-subtype-card small-square-card" data-subtype="storage">
                                                <div class="card-body text-center">
                                                    <i class="fa fa-warehouse fa-2x"></i>
                                                    <h5 class="card-title">Storage</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="small-square-card-container">
                                            <div class="card property-subtype-card small-square-card" data-subtype="other">
                                                <div class="card-body text-center">
                                                    <i class="fa fa-building fa-2x"></i>
                                                    <h5 class="card-title">Other</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                `;
                    }
                $('#subtypeSelection').html(subtypesHtml).show();

                $('.property-subtype-card').off('click').on('click', function () {
                    $('.property-subtype-card').removeClass('selected');
                    $(this).addClass('selected');
                });

                var unitFieldsHtml = '';
                if (type === 'residential') {

                    unitFieldsHtml = `<div class="row">
                                    <div class="col-md-4">
                                        <div class="mb-2">
                                            <label class="sr-only" for="unitName">Unit Name</label>
                                            <input class="form-control" id="unitName" type="text" name="unitName" placeholder="Unit Name" required="">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-2">
                                            <label class="sr-only" for="beds">Beds</label>
                                            <input class="form-control" id="beds" type="number" name="beds" placeholder="Beds" required="">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-2">
                                            <label class="sr-only" for="bath">Bath</label>
                                            <input class="form-control" id="bath" type="number" name="bath" placeholder="Bath" required="">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-2">
                                            <label class="sr-only" for="size">Size</label>
                                            <input class="form-control" id="size" type="number" name="size" placeholder="Size" required="">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-2">
                                            <label class="sr-only" for="rent">Rent</label>
                                            <input class="form-control" id="rent" type="number" name="rent" placeholder="Rent" required="">
                                        </div>
                                    </div>
                                </div>`;

                } else if (type === 'commercial') {
                    // Commercial unit fields
                unitFieldsHtml = `<div class="row">
                                    <div class="col-md-4">
                                        <div class="mb-2">
                                            <label class="sr-only" for="unitName">Unit Name</label>
                                            <input class="form-control" id="unitName" type="text" name="unitName" placeholder="Unit Name" required="">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-2">
                                            <label class="sr-only" for="beds">Beds</label>
                                            <input class="form-control" id="beds" type="number" name="beds" placeholder="Beds" required="">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-2">
                                            <label class="sr-only" for="bath">Bath</label>
                                            <input class="form-control" id="bath" type="number" name="bath" placeholder="Bath" required="">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-2">
                                            <label class="sr-only" for="size">Size</label>
                                            <input class="form-control" id="size" type="number" name="size" placeholder="Size" required="">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-2">
                                            <label class="sr-only" for="rent">Rent</label>
                                            <input class="form-control" id="rent" type="number" name="rent" placeholder="Rent" required="">
                                        </div>
                                    </div>
                                </div>`;

                }

                $('#unitFields').html(unitFieldsHtml);

  }



</script>