@using PMS_PropertyHapa.Staff.Services
@using PMS_PropertyHapa.Staff.Services.IServices
@using System.Security.Claims
@{
    ViewData["Title"] = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject IPermissionService _permissionService;
@{
    var userId = Context.Request.Cookies["userId"];
    bool viewLeaseReportsPermission = await _permissionService.HasAccess(userId, (int)UserPermissions.ViewLeaseReports);
    bool viewFinanceReportsPermission = await _permissionService.HasAccess(userId, (int)UserPermissions.ViewFinanceReports);
    bool viewTenantReportsPermission = await _permissionService.HasAccess(userId, (int)UserPermissions.ViewTenantReports);
    bool viewAssetReportsPermission = await _permissionService.HasAccess(userId, (int)UserPermissions.ViewAssetReports);
    bool viewLandlordReportsPermission = await _permissionService.HasAccess(userId, (int)UserPermissions.ViewLandlordReports);
}
<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <h3>Reports</h3>
                </div>
                <div class="col-12 col-sm-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Home/Index"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item">Reports</li>
                        <li class="breadcrumb-item active">List</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            @* <div class="col-md-4">
                <div class="card">
                    <div class="card-body d-flex justify-content-center align-items-center">
                        <i class="icon-files fa-3x"></i>
                    </div>
                    <div class="card-footer">
                        <h4 class="card-title text-center">
                            <a href="@Url.Action("TaskReports", "Reports")">View Task Reports</a>
                        </h4>
                    </div>
                </div>
            </div> *@
            @if (viewFinanceReportsPermission)
            {
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <i class="icon-files fa-3x"></i>
                        </div>
                        <div class="card-footer">
                            <h4 class="card-title text-center">
                                <a href="@Url.Action("FinanceReports", "Reports")">Finance Reports</a>
                            </h4>
                        </div>
                    </div>
                </div>
            }
            
            @if (viewTenantReportsPermission)
            {
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <i class="icon-files fa-3x"></i>
                        </div>
                        <div class="card-footer">
                            <h4 class="card-title text-center">
                                <a href="@Url.Action("TenantReports", "Reports")">Tenant Reports</a>
                            </h4>
                        </div>
                    </div>
                </div>
            }
            
            @if (viewAssetReportsPermission)
            {
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <i class="icon-files fa-3x"></i>
                        </div>
                        <div class="card-footer">
                            <h4 class="card-title text-center">
                                <a href="@Url.Action("AssetReports", "Reports")">Asset Reports</a>
                            </h4>
                        </div>
                    </div>
                </div>
            }
            
            @if (viewLeaseReportsPermission)
            {
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <i class="icon-files fa-3x"></i>
                        </div>
                        <div class="card-footer">
                            <h4 class="card-title text-center">
                                <a href="@Url.Action("LeaseReports", "Reports")">Lease Reports</a>
                            </h4>
                        </div>
                    </div>
                </div>
            }
            
            @if (viewLandlordReportsPermission)
            {
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <i class="icon-files fa-3x"></i>
                        </div>
                        <div class="card-footer">
                            <h4 class="card-title text-center">
                                <a href="@Url.Action("LandlordReports", "Reports")">Landlord Reports</a>
                            </h4>
                        </div>
                    </div>
                </div>
            }
@*             <div class="col-md-4">
                <div class="card">
                    <div class="card-body d-flex justify-content-center align-items-center">
                        <i class="icon-files fa-3x"></i>
                    </div>
                    <div class="card-footer">
                        <h4 class="card-title text-center">
                            <a href="@Url.Action("SmartReports", "Reports")">Smart Reports</a>
                        </h4>
                    </div>
                </div>
            </div> *@
        </div>
    </div>
</div>
