@model PMS_PropertyHapa.Models.DTO.TenantModelDto

@{
    ViewData["Title"] = "Add/Edit Tenant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-body">
    <h2>@(Model.TenantId == null ? "Add" : "Edit") Tenant</h2>

    <div id="tenantForm">
        <input type="hidden" id="TenantId" name="TenantId" value="@Model.TenantId" />
        <div class="col-sm-6 col-md-3">
            <div class="mb-3">
                <label for="FirstName">First Name</label>
                <input type="text" class="form-control" id="FirstName" name="FirstName" value="@Model.FirstName" required />
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="mb-3">
                <label for="LastName">Last Name</label>
                <input type="text" class="form-control" id="LastName" name="LastName" value="@Model.LastName" required />
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="mb-3">
                <label for="EmailAddress">Email</label>
                <input type="email" class="form-control" id="EmailAddress" name="EmailAddress" value="@Model.EmailAddress" required />
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="mb-3">
                <label for="PhoneNumber">Phone Number</label>
                <input type="number" class="form-control" id="PhoneNumber" name="PhoneNumber" value="@Model.PhoneNumber" required />
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="mb-3">
                <label for="EmergencyContactInfo">Emergency Contact Info</label>
                <input type="text" class="form-control" id="EmergencyContactInfo" name="EmergencyContactInfo" value="@Model.EmergencyContactInfo" />
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
    <div class="mb-3">
        <label for="TenantNationality">Tenant Nationality</label>
        <input type="text" class="form-control" id="TenantNationality" name="TenantNationality" value="@Model.TenantNationality" />
    </div>
</div>

        <div class="col-sm-6 col-md-3">
            <div class="mb-3">
                <label for="Gender">Gender</label>
                <select class="form-control" id="Gender" name="Gender">
                    <option value="">Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>
            </div>
        </div>



<div class="col-sm-6 col-md-3">
    <div class="mb-3">
        <label for="DOB">Date of Birth</label>
        <input type="date" class="form-control" id="DOB" name="DOB" value="@Model.DOB" />
    </div>
</div>

<div class="col-sm-6 col-md-3">
    <div class="mb-3">
        <label for="VAT">VAT Number</label>
        <input type="text" class="form-control" id="VAT" name="VAT" value="@Model.VAT" />
    </div>
</div>

<div class="col-sm-6 col-md-3">
    <div class="mb-3">
        <label for="LegalName">Legal Name</label>
        <input type="text" class="form-control" id="LegalName" name="LegalName" value="@Model.LegalName" />
    </div>
</div>

<div class="col-sm-6 col-md-3">
    <div class="mb-3">
        <label for="Account_Name">Account Name</label>
        <input type="text" class="form-control" id="Account_Name" name="Account_Name" value="@Model.Account_Name" />
    </div>
</div>

<div class="col-sm-6 col-md-3">
    <div class="mb-3">
        <label for="Account_Holder">Account Holder</label>
        <input type="text" class="form-control" id="Account_Holder" name="Account_Holder" value="@Model.Account_Holder" />
    </div>
</div>

<div class="col-sm-6 col-md-3">
    <div class="mb-3">
        <label for="Account_IBAN">Account IBAN</label>
        <input type="text" class="form-control" id="Account_IBAN" name="Account_IBAN" value="@Model.Account_IBAN" />
    </div>
</div>

<div class="col-sm-6 col-md-3">
    <div class="mb-3">
        <label for="Account_Swift">Account SWIFT/BIC</label>
        <input type="text" class="form-control" id="Account_Swift" name="Account_Swift" value="@Model.Account_Swift" />
    </div>
</div>

<div class="col-sm-6 col-md-3">
    <div class="mb-3">
        <label for="Account_Bank">Account Bank</label>
        <input type="text" class="form-control" id="Account_Bank" name="Account_Bank" value="@Model.Account_Bank" />
    </div>
</div>

<div class="col-sm-6 col-md-3">
    <div class="mb-3">
        <label for="Account_Currency">Account Currency</label>
        <input type="text" class="form-control" id="Account_Currency" name="Account_Currency" value="@Model.Account_Currency" />
    </div>
</div>
     
        <div>
            <button type="button" class="btn btn-primary" onclick="submitTenantForm()">@(Model.TenantId == null ? "Add" : "Edit") Tenant</button>
        </div>
    </div>
</div>

<script>
    function stringToGuid(str) {
        return str.substring(0, 8) + '-' + str.substring(8, 12) + '-' + str.substring(12, 16) + '-' + str.substring(16, 20) + '-' + str.substring(20);
    }

    function submitTenantForm() {
        var userId = localStorage.getItem('userId');

        var appTenantId = stringToGuid(userId);
        var tenantData = {
            TenantId: $('#TenantId').val(),
            FirstName: $('#FirstName').val(),
            LastName: $('#LastName').val(),
            EmailAddress: $('#EmailAddress').val(),
            PhoneNumber: $('#PhoneNumber').val(),
            EmergencyContactInfo: $('#EmergencyContactInfo').val(),
            TenantNationality: $('#TenantNationality').val(),
            Gender: $('#Gender').val(),
            DOB: $('#DOB').val(),
            VAT: $('#VAT').val(),
            LegalName: $('#LegalName').val(),
            Account_Name: $('#Account_Name').val(),
            Account_Holder: $('#Account_Holder').val(),
            Account_IBAN: $('#Account_IBAN').val(),
            Account_Swift: $('#Account_Swift').val(),
            Account_Bank: $('#Account_Bank').val(),
            Account_Currency: $('#Account_Currency').val(),
            AppTId: userId
          
        };

        var ajaxUrl = '@(Model.TenantId == null ? "/Tenant/Create" : "/Tenant/Update")';
        var method = '@(Model.TenantId == null ? "POST" : "POST")';
        $.ajax({
            url: ajaxUrl,
            type: method,
            contentType: 'application/json',
            data: JSON.stringify(tenantData),
            success: function (data) {
                if (data.success) {
                    window.location.href = '/Tenant/Index';
                    toastr.success(data.message);
                } else {
                    toastr.error(data.message);
                }
            }
        });
    }
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var gender = '@Model.Gender';
        if (gender) {
            document.querySelector("#Gender").value = gender;
        }
    });
</script>
