@model PMS_PropertyHapa.Models.DTO.TenantModelDto
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Add/Edit Tenant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</head>
<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <h3>@(Model?.TenantId == null ? "Add Tenant" : "Edit Tenant")</h3>
                </div>
                <div class="col-12 col-sm-6">
                    <ol class="breadcrumb">
                        @if (Model?.TenantId == null)
                        {
                            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Tenant")"><i data-feather="home"></i></a></li>
                        }
                        else
                        {
                            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Tenant")"><i data-feather="home"></i></a></li>
                        }


                        <li class="breadcrumb-item">Tenant</li>
                        <li class="breadcrumb-item active">@(Model?.TenantId == null ? "Add Tenant" : "Edit Tenant")</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="edit-profile">
            <div class="row">
                <form id="tenantForm" method="post" enctype="multipart/form-data">
                    <div class="d-flex">
                        <div class="col-xl-3 d-inline-block">
                            <!-- Profile picture card-->
                            <div class="card mb-4 mb-xl-0">
                                <div class="card-header">Profile Picture</div>
                                <div class="card-body text-center">
                                    <input type="hidden" value="image" name="SaveType" id="SaveType" />
                                    <img class="img-account-profile2 rounded-circle mb-2"
                                         src="@(string.IsNullOrEmpty(Model?.Picture) ? "https://bootdey.com/img/Content/avatar/avatar1.png" : $"{Model?.Picture}")"
                                         alt="" style="width: 140px;">
                                    <div class="font-italic text-muted mb-4"></div>
                                    @Html.EditorFor(model => model.PictureUrl, new { htmlAttributes = new { @id = "PictureUrl", @class = "btn btn-success", @type = "file", @accept = "image/*", @required = "required", @style = "width: 219px;" } })
                                </div>
                            </div>

                        </div>
                        <div class="col-xl-9 d-inline-block">
                            <!-- Tenant Information -->
                            <div class="card">
                                <div class="card-header pb-0">
                                    <h4 class="card-title mb-0">General Information</h4>
                                    <div class="card-options"><a class="card-options-collapse" href="#" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a><a class="card-options-remove" href="#" data-bs-toggle="card-remove"><i class="fe fe-x"></i></a></div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <input type="hidden" id="DocumentBase64" name="Document">
                                        <input type="hidden" id="PictureBase64" name="Picture" value="@Model?.Picture">
                                        <input type="hidden" id="TenantId" name="TenantId" value="@Model?.TenantId" />
                                        <!-- First Name -->
                                        <div class="col-sm-6 col-md-3">
                                            <div class="mb-3">
                                                <label for="FirstName" class="form-label">First Name</label>
                                                <input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="Enter first name" value="@Model?.FirstName" pattern="[A-Za-z]+" required />
                                            </div>
                                        </div>

                                        <!-- Middle Name -->
                                        <div class="col-sm-6 col-md-3">
                                            <div class="mb-3">
                                                <label for="MiddleName" class="form-label">Middle Name</label>
                                                <input type="text" class="form-control" id="MiddleName" name="MiddleName" placeholder="Enter middle name" value="@Model?.MiddleName" pattern="[A-Za-z]+" required />
                                            </div>
                                        </div>
                                        <!-- Last Name -->
                                        <div class="col-sm-6 col-md-3">
                                            <div class="mb-3">
                                                <label for="LastName" class="form-label">Last Name</label>
                                                <input type="text" class="form-control" id="LastName" name="LastName" placeholder="Enter last name" value="@Model?.LastName" pattern="[A-Za-z]+" required />
                                            </div>
                                        </div>
                                        <!-- Gender -->
                                        <div class="col-sm-6 col-md-3">
                                            <div class="mb-3">
                                                <label for="Gender" class="form-label">Gender</label>
                                                <select class="form-control select2" id="Gender" name="Gender" required>
                                                    <option value="">Select Gender</option>
                                                    <option value="Male">Male</option>
                                                    <option value="Female">Female</option>
                                                    <option value="Other">Other</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- Date of Birth -->
                                        <div class="col-sm-6 col-md-3">
                                            <div class="mb-3">
                                                <label for="DOB" class="form-label">Date of Birth</label>
                                                <input type="date" class="form-control" id="DOB" name="DOB" value="@Model?.DOB" />
                                            </div>
                                        </div>
                                        <!-- Phone Number -->
                                        <div class="col-sm-6 col-md-3">
                                            <div class="mb-3">
                                                <label for="PhoneNumber" class="form-label">Phone Number</label>
                                                <input type="number" class="form-control" id="PhoneNumber" name="PhoneNumber" value="@Model?.PhoneNumber" required pattern="/^(\+{0,})(\d{0,})([(]{1}\d{1,3}[)]{0,}){0,}(\s?\d+|\+\d{2,3}\s{1}\d+|\d+){1}[\s|-]?\d+([\s|-]?\d+){1,2}(\s){0,}$/gm" placeholder="Enter phone number" title="Please enter a phone number" />
                                                <small class="text-success" id="addAnotherPhone" onclick="togglePhoneField()" style="cursor: pointer;">
                                                    <i class="bi bi-plus-circle"></i> Add another phone
                                                </small>
                                            </div>
                                        </div>

                                        <!-- Additional Phone Number (Initially Hidden) -->
                                        <div class="col-sm-6 col-md-3" id="additionalPhoneField" style="display: @(Model?.PhoneNumber2 != null ? "block" : "none")">
                                            <div class="mb-3">
                                                <label for="PhoneNumber2" class="form-label">Phone Number2</label>
                                                <input type="number" class="form-control" id="PhoneNumber2" name="PhoneNumber2" value="@Model?.PhoneNumber2" placeholder="Enter another phone number" title="Please enter a phone number" pattern="/^(\+{0,})(\d{0,})([(]{1}\d{1,3}[)]{0,}){0,}(\s?\d+|\+\d{2,3}\s{1}\d+|\d+){1}[\s|-]?\d+([\s|-]?\d+){1,2}(\s){0,}$/gm" />
                                            </div>
                                        </div>

                                        <!-- Email Address -->
                                        <div class="col-sm-6 col-md-3">
                                            <div class="mb-3">
                                                <label for="EmailAddress" class="form-label">Email Address</label>
                                                <input type="email" class="form-control" id="EmailAddress" placeholder="Enter email" title="Please enter a email address." name="EmailAddress" value="@Model?.EmailAddress" required />
                                                <small class="text-success" id="addAnotherEmail" onclick="toggleEmailField()" style="cursor: pointer;">
                                                    <i class="bi bi-plus-circle"></i> Add another email
                                                </small>
                                            </div>
                                        </div>


                                        <!-- Additional Email Address (Initially Hidden) -->
                                        <div class="col-sm-6 col-md-3" id="additionalEmailField" style="display: @(Model?.EmailAddress2 != null ? "block" : "none")">
                                            <div class="mb-3">
                                                <label for="EmailAddress2" class="form-label">Email Address2</label>
                                                <input type="email" class="form-control" id="EmailAddress2" placeholder="Enter another email" title="Please enter a email address." value="@Model?.EmailAddress2" name="EmailAddress2" />
                                            </div>
                                        </div>


                                        <div class="col-sm-6 col-md-3">
                                            <div class="mb-3">
                                                <label for="AddTenantAsUser" class="form-label">Add Tenant as User</label>
                                                <select class="form-control select2" id="AddTenantAsUser" name="AddTenantAsUser" required>
                                                    <option value="" disabled selected hidden>Select</option>
                                                    <option value="true">Yes</option>
                                                    <option value="false">No</option>
                                                </select>
                                            </div>
                                        </div>

                                        <!-- Tenant Nationality -->
                                        @* <div class="col-sm-6 col-md-3">
                                        <div class="mb-3">
                                        <label for="TenantNationality" class="form-label">Tenant Nationality</label>
                                        <input type="text" class="form-control" id="TenantNationality" name="TenantNationality" placeholder="Enter tenant nationality" value="@Model?.TenantNationality" required />
                                        </div>
                                        </div> *@

                                    </div>
                                    <hr />
                                    <br />
                                    <b><h4>Address</h4></b>
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-6 col-md-3">
                                            <div class="mb-3">
                                                <label for="Address">Address</label>
                                                <input type="text" class="form-control" placeholder="Enter Address" id="Address" name="Address" value="@Model?.Address" required maxlength="255" title="Address cannot be empty and must be shorter than 255 characters." />
                                                <div class="invalid-feedback">
                                                    Please provide a valid address.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-3">
                                            <div class="mb-3">
                                                <label for="Address2">Address2</label>
                                                <input type="text" class="form-control" id="Address2" placeholder="Enter Address2" name="Address2" value="@Model?.Address2" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-3">
                                            <div class="mb-3">
                                                <label for="Unit">Unit/Ap. #</label>
                                                <input type="text" class="form-control" id="Unit" name="Unit" value="@Model?.Unit" placeholder="Enter Unit/Ap." />
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-3">
                                            <div class="mb-3">
                                                <label for="Region">State / Region</label>
                                                <input type="text" class="form-control" id="Region" name="Region" value="@Model?.Region" placeholder="Enter Region" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-3">
                                            <div class="mb-3">
                                                <label for="PostalCode">Zip</label>
                                                <input type="number" class="form-control" id="PostalCode" name="PostalCode" value="@Model?.PostalCode" placeholder="Enter Zip Code" />
                                            </div>
                                        </div>
                                        <!-- District -->
                                        <div class="col-sm-6 col-md-3">
                                            <div class="mb-3">
                                                <label for="District">District</label>
                                                <input type="text" class="form-control" id="District" name="District" value="@Model?.District" placeholder="Enter district">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-3">
                                            <div class="mb-3">
                                                <label for="Locality">City</label>
                                                <input type="text" class="form-control" id="Locality" name="Locality" value="@Model?.Locality" placeholder="Enter City" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-3">
                                            <div class="mb-3">
                                                <label for="Country">Country</label>
                                                <select class="form-control select2" id="Country" name="Country">
                                                    <option value="">Select Country</option>
                                                    <option value="Germany">Germany</option>
                                                    <option value="Canada">Canada</option>
                                                    <option value="USA">USA</option>
                                                    <option value="Australia">Australia</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-6 col-md-3">
                                            <div class="mb-3" onclick="toggleEmergencyContact()" style="cursor: pointer;">
                                                <label for="PostalCode">EMERGENCY CONTACT</label>
                                                <small class="text-success"><i class="bi bi-plus-circle"></i>  Add Emergency contact </small>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-md-3" id="emergencyContactField" style="display: @(Model?.EmergencyContactInfo != null ? "block" : "none")">
                                            <div class="mb-3">
                                                <label for="EmergencyContactInfo" class="form-label">Emergency Contact Info</label>
                                                <input type="text" class="form-control" id="EmergencyContactInfo" name="EmergencyContactInfo" value="@Model?.EmergencyContactInfo" placeholder="Enter Emergency Contact" />
                                            </div>

                                        </div>
                                    </div>
                                    <hr />

                                    <b><h4>Add Pet</h4></b>
                                    <br />
                                    <div class="row" id="petsContainer">
                                        @if (Model?.Pets != null && Model.Pets.Any())
                                        {
                                            int i = 0;
                                            foreach (var pet in Model.Pets)
                                            {
                                                <div class="row petEntry">
                                                    <div class="col-sm-6 col-md-3">
                                                        <div class="mb-3">
                                                            <label for="Pets_@(i)__Picture">Pet Picture:</label>
                                                            <input type="file" class="form-control" name="Pets[@i].PictureUrl2" accept="image/*" id="Pets_@(i)__Picture">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-md-3">
                                                        <div class="mb-3">
                                                            <label for="Pets_@(i)__Name">Name:</label>
                                                            <input type="text" class="form-control" name="Pets[@i].Name" id="Pets_@(i)__Name" value="@pet.Name">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-md-3">
                                                        <div class="mb-3">
                                                            <label for="Pets_@(i)__Breed">Breed:</label>
                                                            <input type="text" class="form-control" name="Pets[@i].Breed" id="Pets_@(i)__Breed" value="@pet.Breed">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-md-3">
                                                        <div class="mb-3">
                                                            <label for="Pets_@(i)__Type">Type:</label>
                                                            <input type="text" class="form-control" name="Pets[@i].Type" id="Pets_@(i)__Type" value="@pet.Type">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-md-3">
                                                        <div class="mb-3">
                                                            <label for="Pets_@(i)__Quantity">Quantity:</label>
                                                            <input type="number" class="form-control" name="Pets[@i].Quantity" id="Pets_@(i)__Quantity" value="@pet.Quantity">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 align-self-end">
                                                        <div class="mb-3">
                                                            <a onclick="removePetEntry(this);" style="cursor: pointer;"><i class="bi bi-x-circle-fill"></i> Remove</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                i++;
                                            }
                                        }
                                    </div>

                                    <div class="col-sm-6 align-self-end">
                                        <div class="mb-3">
                                            <a onclick="addPetEntry(event);" style="cursor: pointer;">
                                                <i class="bi bi-plus-circle-fill"></i>
                                            </a>
                                        </div>
                                    </div>


                                    <hr />
                                    <b><h4>Add Vehicle</h4></b>
                                    <br />
                                    <div class="row" id="vehiclesContainer">
                                        @if (Model?.Vehicles != null && Model.Vehicles.Any())
                                        {
                                            int i = 0;
                                            foreach (var vehicle in Model.Vehicles)
                                            {
                                                <div class="row vehicleEntry">
                                                    <div class="col-sm-6 col-md-3">
                                                        <div class="mb-3">
                                                            <label for="Vehicles_@(i)__Manufacturer">Make:</label>
                                                            <input type="date" class="form-control" id="Vehicles_@(i)__Manufacturer_Date" onchange="updateManufacturerString(this.value, @(i))">
                                                            <!-- Hidden input to hold the date as a string for form submission -->
                                                            <input type="hidden" name="Vehicles[@i].Manufacturer" id="Vehicles_@(i)__Manufacturer">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-md-3">
                                                        <div class="mb-3">
                                                            <label for="Vehicles_@(i)__ModelName">Model:</label>
                                                            <input type="text" class="form-control" name="Vehicles[@i].ModelName" id="Vehicles_@(i)__ModelName" value="@vehicle.ModelName">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-md-3">
                                                        <div class="mb-3">
                                                            <label for="Vehicles_@(i)__ModelVariant">License Plate:</label>
                                                            <input type="text" class="form-control" name="Vehicles[@i].ModelVariant" id="Vehicles_@(i)__ModelVariant" value="@vehicle.ModelVariant">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-md-3">
                                                        <div class="mb-3">
                                                            <label for="Vehicles_@(i)__Color">Color:</label>
                                                            <input type="color" class="form-control" name="Vehicles[@i].Color" id="Vehicles_@(i)__Color" value="@vehicle.Color">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-md-3">
                                                        <div class="mb-3">
                                                            <label for="Vehicles_@(i)__Year">Year:</label>
                                                            <input type="number" class="form-control" name="Vehicles[@i].Year" id="Vehicles_@(i)__Year" value="@vehicle.Year">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 align-self-end">
                                                        <div class="mb-3">
                                                            <a onclick="removeVehicleEntry(this);" style="cursor: pointer;"><i class="bi bi-x-circle-fill"></i> Remove</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                i++;
                                            }
                                        }
                                    </div>
                                    <div class="col-sm-6 align-self-end">
                                        <div class="mb-3">
                                            <a onclick="addVehicleEntry(event);" style="cursor: pointer;">
                                                <i class="bi bi-plus-circle-fill"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <hr />

                                    <b><h4>Add Dependent</h4></b>
                                    <br />
                                    <div class="row" id="dependentsContainer">
                                        @if (Model?.Dependent != null && Model.Dependent.Any())
                                        {
                                            int i = 0;
                                            foreach (var dependent in Model.Dependent)
                                            {
                                                <div class="row dependentEntry">
                                                    <div class="col-sm-6 col-md-3">
                                                        <div class="mb-3">
                                                            <label for="Dependent_@(i)__FirstName">First Name:</label>
                                                            <input type="text" class="form-control" name="Dependent[@i].FirstName" id="Dependent_@(i)__FirstName" value="@dependent.FirstName">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-md-3">
                                                        <div class="mb-3">
                                                            <label for="Dependent_@(i)__LastName">Last Name:</label>
                                                            <input type="text" class="form-control" name="Dependent[@i].LastName" id="Dependent_@(i)__LastName" value="@dependent.LastName">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-md-3">
                                                        <div class="mb-3">
                                                            <label for="Dependent_@(i)__EmailAddress">Email Address:</label>
                                                            <input type="email" class="form-control" name="Dependent[@i].EmailAddress" id="Dependent_@(i)__EmailAddress" value="@dependent.EmailAddress">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-md-3">
                                                        <div class="mb-3">
                                                            <label for="Dependent_@(i)__PhoneNumber">Phone Number:</label>
                                                            <input type="text" class="form-control" name="Dependent[@i].PhoneNumber" id="Dependent_@(i)__PhoneNumber" value="@dependent.PhoneNumber">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-md-3">
                                                        <div class="mb-3">
                                                            <label for="Dependent_@(i)__DOB">DOB:</label>
                                                            <input type="date" class="form-control" name="Dependent[@i].DOB" id="Dependent_@(i)__DOB" value="@dependent.DOB">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-md-3">
                                                        <div class="mb-3">
                                                            <label for="Dependent_@(i)__Relation">Relation:</label>
                                                            <input type="text" class="form-control" name="Dependent[@i].Relation" id="Dependent_@(i)__Relation" value="@dependent.Relation">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 align-self-end">
                                                        <div class="mb-3">
                                                            <a onclick="removeDependentEntry(this);" style="cursor: pointer;"><i class="bi bi-x-circle-fill"></i> Remove</a>
                                                        </div>
                                                    </div>
                                                </div>

                                                i++;
                                            }
                                        }
                                    </div>
                                    <div class="col-sm-6 align-self-end">
                                        <div class="mb-3">
                                            <a onclick="addDependentEntry(event);" style="cursor: pointer;">
                                                <i class="bi bi-plus-circle-fill"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <hr />


                                    <b><h4>Add CoTenant</h4></b>
                                    <br />
                                    <div class="row" id="coTenantsContainer">
                                        @if (Model?.CoTenant != null && Model.CoTenant.Any())
                                        {
                                            int i = 0;
                                            foreach (var coTenant in Model.CoTenant)
                                            {
                                                <div class="row coTenantEntry">
                                                    <div class="col-sm-6 col-md-3">
                                                        <div class="mb-3">
                                                            <label for="CoTenant_@(i)__FirstName">First Name:</label>
                                                            <input type="text" class="form-control" name="CoTenant[@i].FirstName" id="CoTenant_@(i)__FirstName" value="@coTenant.FirstName">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-md-3">
                                                        <div class="mb-3">
                                                            <label for="CoTenant_@(i)__LastName">Last Name:</label>
                                                            <input type="text" class="form-control" name="CoTenant[@i].LastName" id="CoTenant_@(i)__LastName" value="@coTenant.LastName">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-md-3">
                                                        <div class="mb-3">
                                                            <label for="CoTenant_@(i)__EmailAddress">Email Address:</label>
                                                            <input type="email" class="form-control" name="CoTenant[@i].EmailAddress" id="CoTenant_@(i)__EmailAddress" value="@coTenant.EmailAddress">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-md-3">
                                                        <div class="mb-3">
                                                            <label for="CoTenant_@(i)__PhoneNumber">Phone Number:</label>
                                                            <input type="text" class="form-control" name="CoTenant[@i].PhoneNumber" id="CoTenant_@(i)__PhoneNumber" value="@coTenant.PhoneNumber">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-md-3">
                                                        <div class="mb-3">
                                                            <label for="CoTenant_@(i)__Address">Address:</label>
                                                            <input type="text" class="form-control" name="CoTenant[@i].Address" id="CoTenant_@(i)__Address" value="@coTenant.Address">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-md-3">
                                                        <div class="mb-3">
                                                            <label for="CoTenant_@(i)__Unit">Unit:</label>
                                                            <input type="text" class="form-control" name="CoTenant[@i].Unit" id="CoTenant_@(i)__Unit" value="@coTenant.Unit">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-md-3">
                                                        <div class="mb-3">
                                                            <label for="CoTenant_@(i)__District">District:</label>
                                                            <input type="text" class="form-control" name="CoTenant[@i].District" id="CoTenant_@(i)__District" value="@coTenant.District">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-md-3">
                                                        <div class="mb-3">
                                                            <label for="CoTenant_@(i)__Region">Region:</label>
                                                            <input type="text" class="form-control" name="CoTenant[@i].Region" id="CoTenant_@(i)__Region" value="@coTenant.Region">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-md-3">
                                                        <div class="mb-3">
                                                            <label for="CoTenant_@(i)__PostalCode">Postal Code:</label>
                                                            <input type="text" class="form-control" name="CoTenant[@i].PostalCode" id="CoTenant_@(i)__PostalCode" value="@coTenant.PostalCode">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-md-3">
                                                        <div class="mb-3">
                                                            <label for="CoTenant_@(i)__Country">Country:</label>
                                                            <select class="form-control select2" name="CoTenant[@i].Country" id="CoTenant_@(i)__Country" data-selected-country="@coTenant.Country">
                                                                <option value="">Select Country</option>
                                                                <option value="USA">USA</option>
                                                                <option value="Canada">Canada</option>
                                                                <option value="Germany">Germany</option>
                                                                <option value="India">India</option>
                                                                <option value="Australia">Australia</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 align-self-end">
                                                        <div class="mb-3">
                                                            <a onclick="removeCoTenantEntry(this);" style="cursor: pointer;"><i class="bi bi-x-circle-fill"></i> Remove</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                i++;
                                            }
                                        }
                                    </div>
                                    <div class="col-sm-6 align-self-end">
                                        <div class="mb-3">
                                            <a onclick="addCoTenantEntry(event);" style="cursor: pointer;">
                                                <i class="bi bi-plus-circle-fill"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <hr />
                                    <br />

                                    <b><h4>Account Information</h4></b>
                                    <br />
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-6 col-md-3">
                                            <div class="mb-3">
                                                <label for="Account_Name">Account Name</label>
                                                <input type="text" class="form-control" id="Account_Name" name="Account_Name" placeholder="Enter account name" value="@Model?.Account_Name">
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-md-3">
                                            <div class="mb-3">
                                                <label for="Account_Holder">Account Holder</label>
                                                <input type="text" class="form-control" id="Account_Holder" name="Account_Holder" placeholder="Enter account holder's name" value="@Model?.Account_Holder">
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-md-3">
                                            <div class="mb-3">
                                                <label for="Account_IBAN">Account IBAN</label>
                                                <input type="text" class="form-control" id="Account_IBAN" name="Account_IBAN" placeholder="Enter IBAN" value="@Model?.Account_IBAN">
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-md-3">
                                            <div class="mb-3">
                                                <label for="Account_Swift">Account Swift/BIC</label>
                                                <input type="text" class="form-control" id="Account_Swift" name="Account_Swift" placeholder="Enter Swift/BIC" value="@Model?.Account_Swift">
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-md-3">
                                            <div class="mb-3">
                                                <label for="Account_Bank">Account Bank</label>
                                                <input type="text" class="form-control" id="Account_Bank" name="Account_Bank" placeholder="Enter bank name" value="@Model?.Account_Bank">
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-md-3">
                                            <div class="mb-3">
                                                <label for="Account_Currency">Account Currency</label>
                                                @* <input type="text" class="form-control" id="Account_Currency" name="Account_Currency" placeholder="Enter currency" value="@Model?.Account_Currency"> *@
                                                <select class="form-control select2" id="Account_Currency" name="Account_Currency" data-selected-currency="@Model?.Account_Currency">
                                                    <option value="" selected disabled hidden>Select Currency</option>
                                                    <option value="USD">USD - United States Dollar ($)</option>
                                                    <option value="EUR">EUR - Euro (€)</option>
                                                    <option value="GBP">GBP - British Pound (£)</option>
                                                    <option value="JPY">JPY - Japanese Yen (¥)</option>
                                                    <option value="INR">INR - Indian Rupee (₹)</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <hr />

                                    <div class="col-sm-12 col-md-12">
                                        <div class="mb-3">
                                            <label for="DocumentFile" class="form-label">Document Upload</label>
                                            <input type="file" class="form-control" id="DocumentFile" name="DocumentFile" accept=".pdf,.xls,.xlsx,.doc,.docx" />
                                        </div>
                                    </div>

                                    <br />
                                    <hr />
                                    <br />
                                    <div class="col-sm-6 col-md-3">
                                        <div class="mb-3">
                                            <button type="button" id="saveButton" class="btn btn-success" onclick="checkValidationsAndSubmit(event)">
                                                @(Model?.TenantId == null ? "Add" : "Update") Tenant
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<script>
    document.addEventListener('DOMContentLoaded', function () {
        debugger;
        window.toggleEmergencyContact = function () {
            var emergencyContactField = document.getElementById("emergencyContactField");
            emergencyContactField.style.display = emergencyContactField.style.display === "none" ? "block" : "none";
        };

        window.togglePhoneField = function () {
            var additionalPhoneField = document.getElementById("additionalPhoneField");
            additionalPhoneField.style.display = additionalPhoneField.style.display === "none" ? "block" : "none";
        };

        window.toggleEmailField = function () {
            var additionalEmailField = document.getElementById("additionalEmailField");
            additionalEmailField.style.display = additionalEmailField.style.display === "none" ? "block" : "none";
        };

    });

    window.addPetEntry = function (event) {
        event.preventDefault();
        var petIndex = document.querySelectorAll('.petEntry').length;

        var newPetHTML = `<div class="row petEntry">
                                                    <div class="col-sm-6 col-md-3">
                                                        <div class="mb-3">
                                                            <label for="Pets_${petIndex}__Picture">Pet Picture:</label>
                                                            <input type="file" class="form-control" name="Pets[${petIndex}].PictureUrl2" accept="image/*" id="Pets_${petIndex}__Picture">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-md-3">
                                                        <div class="mb-3">
                                                            <label for="Pets_${petIndex}__Name">Name:</label>
                                                            <input type="text" class="form-control" name="Pets[${petIndex}].Name" id="Pets_${petIndex}__Name">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-md-3">
                                                        <div class="mb-3">
                                                            <label for="Pets_${petIndex}__Breed">Breed:</label>
                                                            <input type="text" class="form-control" name="Pets[${petIndex}].Breed" id="Pets_${petIndex}__Breed">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-md-3">
                                                        <div class="mb-3">
                                                            <label for="Pets_${petIndex}__Type">Type:</label>
                                                            <input type="text" class="form-control" name="Pets[${petIndex}].Type" id="Pets_${petIndex}__Type">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-md-3">
                                                        <div class="mb-3">
                                                            <label for="Pets_${petIndex}__Quantity">Quantity:</label>
                                                            <input type="number" class="form-control" name="Pets[${petIndex}].Quantity" id="Pets_${petIndex}__Quantity">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 align-self-end">
                                                        <div class="mb-3">
                                                            <a onclick="removePetEntry(this);" style="cursor: pointer;"><i class="bi bi-x-circle-fill"></i> Remove</a>
                                                        </div>
                                                    </div>
                                                </div>`;

        var container = document.getElementById('petsContainer');
        container.insertAdjacentHTML('beforeend', newPetHTML);
    };

    window.removePetEntry = function (element) {
        element.closest('.petEntry').remove();
    };


    window.addVehicleEntry = function (event) {
        event.preventDefault();
        var vehicleIndex = document.querySelectorAll('.vehicleEntry').length;

        var newVehicleHTML = `<div class="row vehicleEntry">
                                                        <div class="col-sm-6 col-md-3">
                                                        <div class="mb-3">
                                                        <label for="Vehicles_${vehicleIndex}__Manufacturer_Date">Make:</label>
                                                        <input type="date" class="form-control" id="Vehicles_${vehicleIndex}__Manufacturer_Date" onchange="updateManufacturerString(this.value, ${vehicleIndex})">

                                                        <input type="hidden" name="Vehicles[${vehicleIndex}].Manufacturer" id="Vehicles_${vehicleIndex}__Manufacturer">
                                                        </div>
                                                        </div>
                                                        <div class="col-sm-6 col-md-3">
                                                            <div class="mb-3">
                                                                <label for="Vehicles_${vehicleIndex}__ModelName">Model:</label>
                                                                <input type="text" class="form-control" name="Vehicles[${vehicleIndex}].ModelName" id="Vehicles_${vehicleIndex}__ModelName">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 col-md-3">
                                                            <div class="mb-3">
                                                                    <label for="Vehicles_${vehicleIndex}__ModelVariant">License Plate:</label>
                                                                <input type="text" class="form-control" name="Vehicles[${vehicleIndex}].ModelVariant" id="Vehicles_${vehicleIndex}__ModelVariant">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 col-md-3">
                                                            <div class="mb-3">
                                                                <label for="Vehicles_${vehicleIndex}__Engine">Color:</label>
                                                                <input type="color" class="form-control" name="Vehicles[${vehicleIndex}].Color" id="Vehicles_${vehicleIndex}__Color">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 col-md-3">
                                                            <div class="mb-3">
                                                                <label for="Vehicles_${vehicleIndex}__Year">Year:</label>
                                                                <input type="text" class="form-control" name="Vehicles[${vehicleIndex}].Year" id="Vehicles_${vehicleIndex}__Year">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 align-self-end">
                                                            <div class="mb-3">
                                                                <a onclick="removeVehicleEntry(this);" style="cursor: pointer;"><i class="bi bi-x-circle-fill"></i> Remove</a>
                                                            </div>
                                                        </div>
                                                    </div>`;

        var container = document.getElementById('vehiclesContainer');
        container.insertAdjacentHTML('beforeend', newVehicleHTML);
    };

    window.removeVehicleEntry = function (element) {
        element.closest('.vehicleEntry').remove();
    };

    window.addDependentEntry = function (event) {
        event.preventDefault();
        var dependentIndex = document.querySelectorAll('.dependentEntry').length;

        var newDependentHTML = `<div class="row dependentEntry">
                            <div class="col-sm-6 col-md-3">
                                <div class="mb-3">
                                    <label for="Dependent_${dependentIndex}__FirstName">First Name:</label>
                                    <input type="text" class="form-control" name="Dependent[${dependentIndex}].FirstName" id="Dependent_${dependentIndex}__FirstName">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="mb-3">
                                    <label for="Dependent_${dependentIndex}__LastName">Last Name:</label>
                                    <input type="text" class="form-control" name="Dependent[${dependentIndex}].LastName" id="Dependent_${dependentIndex}__LastName">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="mb-3">
                                    <label for="Dependent_${dependentIndex}__EmailAddress">Email Address:</label>
                                    <input type="email" class="form-control" name="Dependent[${dependentIndex}].EmailAddress" id="Dependent_${dependentIndex}__EmailAddress">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="mb-3">
                                    <label for="Dependent_${dependentIndex}__PhoneNumber">Phone Number:</label>
                                    <input type="text" class="form-control" name="Dependent[${dependentIndex}].PhoneNumber" id="Dependent_${dependentIndex}__PhoneNumber">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="mb-3">
                                    <label for="Dependent_${dependentIndex}__DOB">DOB:</label>
                                    <input type="date" class="form-control" name="Dependent[${dependentIndex}].DOB" id="Dependent_${dependentIndex}__DOB">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="mb-3">
                                    <label for="Dependent_${dependentIndex}__Relation">Relation:</label>
                                    <input type="text" class="form-control" name="Dependent[${dependentIndex}].Relation" id="Dependent_${dependentIndex}__Relation">
                                </div>
                            </div>
                            <div class="col-sm-6 align-self-end">
                                <div class="mb-3">
                                    <a onclick="removeDependentEntry(this);" style="cursor: pointer;"><i class="bi bi-x-circle-fill"></i> Remove</a>
                                </div>
                            </div>
                        </div>`;

        var container = document.getElementById('dependentsContainer');
        container.insertAdjacentHTML('beforeend', newDependentHTML);
    };

    window.removeDependentEntry = function (element) {
        element.closest('.dependentEntry').remove();
    };



    window.addCoTenantEntry = function (event) {
        event.preventDefault();
        var coTenantIndex = document.querySelectorAll('.coTenantEntry').length;

        var newCoTenantHTML = `<div class="row coTenantEntry">
                        <div class="col-sm-6 col-md-3">
                            <div class="mb-3">
                                <label for="CoTenant_${coTenantIndex}__FirstName">First Name:</label>
                                <input type="text" class="form-control" name="CoTenant[${coTenantIndex}].FirstName" id="CoTenant_${coTenantIndex}__FirstName">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="mb-3">
                                <label for="CoTenant_${coTenantIndex}__LastName">Last Name:</label>
                                <input type="text" class="form-control" name="CoTenant[${coTenantIndex}].LastName" id="CoTenant_${coTenantIndex}__LastName">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="mb-3">
                                <label for="CoTenant_${coTenantIndex}__EmailAddress">Email Address:</label>
                                <input type="email" class="form-control" name="CoTenant[${coTenantIndex}].EmailAddress" id="CoTenant_${coTenantIndex}__EmailAddress">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="mb-3">
                                <label for="CoTenant_${coTenantIndex}__PhoneNumber">Phone Number:</label>
                                <input type="text" class="form-control" name="CoTenant[${coTenantIndex}].PhoneNumber" id="CoTenant_${coTenantIndex}__PhoneNumber">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="mb-3">
                                <label for="CoTenant_${coTenantIndex}__Address">Address:</label>
                                <input type="text" class="form-control" name="CoTenant[${coTenantIndex}].Address" id="CoTenant_${coTenantIndex}__Address">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="mb-3">
                                <label for="CoTenant_${coTenantIndex}__Unit">Unit:</label>
                                <input type="text" class="form-control" name="CoTenant[${coTenantIndex}].Unit" id="CoTenant_${coTenantIndex}__Unit">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="mb-3">
                                <label for="CoTenant_${coTenantIndex}__District">District:</label>
                                <input type="text" class="form-control" name="CoTenant[${coTenantIndex}].District" id="CoTenant_${coTenantIndex}__District">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="mb-3">
                                <label for="CoTenant_${coTenantIndex}__Region">Region:</label>
                                <input type="text" class="form-control" name="CoTenant[${coTenantIndex}].Region" id="CoTenant_${coTenantIndex}__Region">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="mb-3">
                                <label for="CoTenant_${coTenantIndex}__PostalCode">Postal Code:</label>
                                <input type="text" class="form-control" name="CoTenant[${coTenantIndex}].PostalCode" id="CoTenant_${coTenantIndex}__PostalCode">
                            </div>
                        </div>
                              <div class="col-sm-6 col-md-3">
                            <div class="mb-3">
                                <label for="CoTenant_${coTenantIndex}__Country">Country:</label>
                                <select class="form-control" name="CoTenant[${coTenantIndex}].Country" id="CoTenant_${coTenantIndex}__Country">
                                    <option value="">Select Country</option>
                                            <option value="USA">USA</option>
                                    <option value="Canada">Canada</option>
                                    <option value="Germany">Germany</option>
                                    <option value="India">India</option>
                                    <option value="Australia">Australia</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6 align-self-end">
                            <div class="mb-3">
                                <a onclick="removeCoTenantEntry(this);" style="cursor: pointer;"><i class="bi bi-x-circle-fill"></i> Remove</a>
                            </div>
                        </div>
                    </div>`;

        var container = document.getElementById('coTenantsContainer');
        container.insertAdjacentHTML('beforeend', newCoTenantHTML);
    };

    window.removeCoTenantEntry = function (element) {
        element.closest('.coTenantEntry').remove();
    };


    document.addEventListener('DOMContentLoaded', function () {
        var gender = '@Model?.Gender';
        if (gender) {
            document.getElementById("Gender").value = gender;
        }
    });

    document.addEventListener('DOMContentLoaded', function () {
        var country = '@Model?.Country';
        if (country) {
            document.getElementById("Country").value = country;
        }

    });



    document.addEventListener('DOMContentLoaded', function () {
        const pictureInput = document.getElementById('PictureUrl');
        const profileImage = document.querySelector('.img-account-profile2');

        pictureInput.addEventListener('change', function (event) {
            if (event.target.files && event.target.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    profileImage.src = e.target.result;
                };

                reader.readAsDataURL(event.target.files[0]);
            }
        });
    });





    function downloadFile(id) {
        window.location.href = '/Tenant/Download?id=' + id;
    }







    const toggleCheckbox = document.getElementById('toggleOrgInfo');
    toggleCheckbox.addEventListener('change', function () {
        const orgFields = document.querySelectorAll('.organization-field');
        orgFields.forEach(field => {
            field.style.display = this.checked ? 'block' : 'none';
        });
    });



    async function submitTenantForm(event) {
        const formElement = document.getElementById('tenantForm');
        const formData = new FormData(formElement);
        var ajaxUrl = $('#TenantId').val() ? '/Tenant/Update' : '/Tenant/Create';


@*         const fileInputs = {
            'DocumentFile': 'DocumentBase64',
            'PictureUrl': 'PictureBase64'
        }; *@

            const pictureInput = document.getElementById('PictureUrl');
            if (pictureInput.files.length > 0) {
                formData.append('PictureUrl', pictureInput.files[0]);
            }
            
            const documentInput = document.getElementById('DocumentFile');
            if (documentInput.files.length > 0) {
            formData.append('DocumentUrl', documentInput.files[0]);
            }

            const petPictureInputs = document.querySelectorAll('[name^="Pets"]');
            petPictureInputs.forEach(input => {
                const id = input.id;
                const fieldName = id.substring(0, id.indexOf('__Picture'));
                //fileInputs[fieldName] = 'PetPictureBase64';
            });

@*         for (const [inputId, outputId] of Object.entries(fileInputs)) {
            const inputFile = document.getElementById(inputId);
            if (inputFile && inputFile.files.length > 0) {
                document.getElementById(outputId).value = await convertFileToBase64(inputFile.files[0]);
            }
        } *@

     
  
        @* Object.keys(fileInputs).forEach(key => formData.delete(key)); *@

        try {
            var userId = localStorage.getItem('userId');
            formData.append('AppTId', userId);
            const response = await fetch(ajaxUrl, {
                method: 'POST',
                body: formData,
                headers: {
                    'Accept': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest'
                }
            });

            if (response.ok) {
                const result = await response.json();
                console.log(result);
                toastr.success('Tenant save successful');
                window.location.href = '/Tenant/Index';
            } else {
                console.error('Server responded with non-OK status');
                toastr.error('Operation failed. Server responded with an error.');
            }
        } catch (error) {
            console.error('Error submitting form:', error);
            toastr.error('Operation failed. Network error or server is not responding.');
        }
    }


    function validateEmail(email) {
        var re = /\S+@@\S+\.\S+/;
        return re.test(email);
    }


    function validatePhoneNumber(phoneNumber) {
        const pattern = /^(\+{0,})(\d{0,})([(]{1}\d{1,3}[)]{0,}){0,}(\s?\d+|\+\d{2,3}\s{1}\d+|\d+){1}[\s|-]?\d+([\s|-]?\d+){1,2}(\s){0,}$/gm;
        return pattern.test(phoneNumber);
    }


    function validateAddress(address) {
        return address.trim().length > 0;
    }

    function showError(message) {

        toastr.error(message);
    }
    function validateFirstName(FirstName) {
        return FirstName.trim().length > 0;
    }

    function validateLastName(LastName) {

        return LastName.trim().length > 0;
    }

    function validateUnit(Unit) {

        return Unit.trim().length > 0;
    }

    function validateRegion(Region) {
        return Region.trim().length > 0;
    }

    function validatePostalCode(PostalCode) {
        return PostalCode.trim().length > 0;
    }


    function validateField(field, validatorFunc, errorMessage) {
        if (!validatorFunc(field.value)) {
            showError(errorMessage);
            return false;
        } else {
            return true;
        }
    }



    toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    };


    function validateEmai2valid(emailAddress2) {
        if (emailAddress2.trim().length > 0) {
            var re = /\S+@@\S+\.\S+/;
            return re.test(emailAddress2);
        }
        else {
            return true;
        }
    }

    function checkValidationsAndSubmit(event) {
        debugger;
        event.preventDefault();

        const emailAddress = document.getElementById('EmailAddress');
        const emailAddress2 = document.getElementById('EmailAddress2');
        const phoneNumber = document.getElementById('PhoneNumber');
        const website = document.getElementById('Website');
        const address = document.getElementById('Address');
        const FirstName = document.getElementById('FirstName');
        const LastName = document.getElementById('LastName');
        const Unit = document.getElementById('Unit');
        const Region = document.getElementById('Region');
        const PostalCode = document.getElementById('PostalCode');

        const isEmailAddressValid = validateField(emailAddress, validateEmail, 'Please enter a valid email address.');
        const isPhoneNumberValid = validateField(phoneNumber, validatePhoneNumber, 'Phone number cannot be empty.');
        const isAddressValid = validateField(address, validateAddress, 'Address cannot be empty.');
        const isFirstNameValid = validateField(FirstName, validateFirstName, 'FirstName cannot be empty.');
        const isLastNameValid = validateField(LastName, validateLastName, 'LastName cannot be empty.');
        const isUnitValid = validateField(Unit, validateUnit, 'Unit cannot be empty.');
        const isRegionValid = validateField(Region, validateRegion, 'Region cannot be empty.');
        const isPostalCodeValid = validateField(PostalCode, validatePostalCode, 'PostalCode cannot be empty.');
        const isEmail2Valid = validateField(emailAddress2, validateEmai2valid, 'Please enter a valid email address2.');
        if (isEmailAddressValid && isPhoneNumberValid && isAddressValid && isFirstNameValid && isLastNameValid && isUnitValid && isRegionValid && isPostalCodeValid && isEmail2Valid) {

            submitTenantForm(event);
        } else {
            console.error("Validation errors present. Cannot submit form.");
        }
    }




@*     function convertFileToBase64(file) {
        return new Promise((resolve, reject) => {
            const reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = () => resolve(reader.result.split(',')[1]);
            reader.onerror = error => reject(error);
        });
    } *@


    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('select[data-selected-country]').forEach(function (selectElement) {
            var selectedCountry = selectElement.getAttribute('data-selected-country');
            if (selectedCountry) {
                selectElement.value = selectedCountry;
            }
        });

        var selectElement = document.getElementById('Account_Currency');
        var selectedCurrency = selectElement.getAttribute('data-selected-currency');

        if (selectedCurrency) {
            selectElement.value = selectedCurrency;
        }
    });

    function updateManufacturerString(dateValue, index) {

        var dateString = new Date(dateValue).toISOString().split('T')[0];

        document.getElementById(`Vehicles_${index}__Manufacturer`).value = dateString;
    }


    document.addEventListener('DOMContentLoaded', function () {
        var addTenantAsUser = '@(Model?.AddTenantAsUser.ToString().ToLower())'; // Assuming Model.AddTenantAsUser is a boolean
        if (addTenantAsUser) {
            document.getElementById("AddTenantAsUser").value = addTenantAsUser;
        }
    });

</script>

