@using PMS_PropertyHapa.Models.Entities
@model IEnumerable<AccountType>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <h3>Account Type</h3>
                </div>
                <div class="col-12 col-sm-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Accounting/Index"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item">Account Type</li>
                        <li class="breadcrumb-item active">List</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid my-4">
        <div class="row">
            <!-- Column 1: Properties Table (80% on lg screens) -->
            <div class="col-xl-12 col-md-12 box-col-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <div class="right-side-header">
                            <button class="btn btn-success" id="addAccountBtn">Add Account</button>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover text-center display" id="accountTypeTable">
                                <thead class="table-dark">
                                    <tr>
                                        <th scope="col" class="text-center tableHeaderbg">Account Name</th>
                                        <th scope="col" class="text-center tableHeaderbg">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* <div class="container-fluid">
    <div class="email-wrap bookmark-wrap">
    <div class="row">
    <div class="col-xl-12 col-md-12 box-col-12 ">
    <div class="email-right-aside bookmark-tabcontent contacts-tabs">
    <div class="card email-body radius-left">
    <div class="ps-0">
    <div class="tab-content">
    <div class="tab-pane fade active show" id="pills-personal" role="tabpanel" aria-labelledby="pills-personal-tab">
    <div class="card mb-0">

    <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">

    <div class="left-side-header">
    <div class="input-group">
    <span class="input-group-text" id="basic-addon1">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g>
    <g>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.2753 2.71436C16.0029 2.71436 19.8363 6.54674 19.8363 11.2753C19.8363 16.0039 16.0029 19.8363 11.2753 19.8363C6.54674 19.8363 2.71436 16.0039 2.71436 11.2753C2.71436 6.54674 6.54674 2.71436 11.2753 2.71436Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M19.8987 18.4878C20.6778 18.4878 21.3092 19.1202 21.3092 19.8983C21.3092 20.6783 20.6778 21.3097 19.8987 21.3097C19.1197 21.3097 18.4873 20.6783 18.4873 19.8983C18.4873 19.1202 19.1197 18.4878 19.8987 18.4878Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    </g>
    </g>
    </svg>

    </span>
    <input class="form-control" type="text" id="searchInput" placeholder="Search Account Type" aria-label="search" aria-describedby="basic-addon1">
    </div>
    </div>

    <div class="right-side-header">
    <button class="btn btn-success" id="newAccountTypeBtn">New Account Type</button>
    </div>

    </div>
    </div>

    <div class="card-body p-0">
    <div class="table-responsive">
    <table class="table">
    <thead>
    <tr>
    <th scope="col" class="text-center tableHeaderbg">Account Name</th>
    <th scope="col" class="text-center tableHeaderbg">Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model?.OrderByDescending(x => x.AccountTypeId) ?? Enumerable.Empty<AccountType>())
    {
    <tr>
    <td class="tableFontSize">@item.Type</td>
    <td class="tableFontSize">
    <div class="dropdown-basic">
    <div class="dropdown">
    <div class="btn-group mb-0">
    <button class="dropbtn btn-success" type="button">Action <span><i class="icofont icofont-arrow-down"></i></span></button>
    <div class="dropdown-content">
    <a class="btn btn-secondary" onclick="editAccountType(@item.AccountTypeId)">
    <i class="fa fa-edit"></i> Edit
    </a>
    <a class="btn btn-secondary" onclick="deleteAccountType(@item.AccountTypeId)">
    <i class="fa fa-trash"></i> Delete
    </a>
    </div>
    </div>
    </div>
    </div>
    </td>
    </tr>
    }
    </tbody>
    </table>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div> *@
</div>

<div class="modal fade" id="newAccountTypeModal" tabindex="-1" aria-labelledby="accountTypeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="accountTypeModalLabel">New Account Type</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="accountTypeForm">
                <input type="hidden" value="" id="accountTypeId" />
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="accountTypeName" class="form-label">Account Type *</label>
                        <input type="text" class="form-control" name="accountTypeName" id="accountTypeName" placeholder="Account Type Name" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-success" id="saveBtn">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">

<script>
    $(document).ready(function () {

        $('#accountTypeTable').DataTable({
            "ajax": {
                "url": "/AccountType/GetAccountTypes",
                "type": "GET",
                "dataSrc": ""
            },
            "columns": [
                {
                    "data": "Type",
                    "className": "text-center"
                },
                {
                    "className": "text-center",
                    "data": "AccountTypeId",
                    "render": function (data, type, row, meta) {
                        return `
                                <div class="dropdown-basic">
                                    <div class="dropdown">
                                        <div class="btn-group mb-0">
                                            <button class="dropbtn btn btn-success" type="button">Action <span><i class="icofont icofont-arrow-down"></i></span></button>
                                            <div class="dropdown-content">
                                                <a class="btn btn-secondary" onclick="editAccountType(${data})">
                                                    <i class="fa fa-edit"></i> Edit
                                                </a>
                                                <a class="btn btn-secondary" onclick="deleteAccountType(${data})">
                                                    <i class="fa fa-trash"></i> Delete
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            `;
                    }
                }
            ]
        });


        $("#newAccountTypeBtn").on("click", function () {
            resetModal();
            $("#accountTypeModalLabel").html("New Account Type");
            $("#newAccountTypeModal").modal('show');
        });

        $('#accountTypeForm').on('submit', function (event) {
            event.preventDefault();

            var formData = {
                AccountTypeId: Number($('#accountTypeId').val()),
                Type: $('#accountTypeName').val(),
            };

            $.ajax({
                url: '@Url.Action("SaveAccountType", "AccountType")',
                type: 'POST',
                data: JSON.stringify(formData),
                contentType: 'application/json',
                beforeSend: function () {
                    $('#saveBtn').prop('disabled', true).text('Saving...');
                },
                success: function (response) {
                    $("#newAccountTypeModal").modal('hide');
                    location.reload();
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                    alert('Failed to save data');
                },
                complete: function () {
                    $('#saveBtn').prop('disabled', false).text('Save');
                }
            });
        });
    });

    function resetModal() {
        $("#newAccountTypeModal form")[0].reset();
    }

    function deleteAccountType(id) {
        Swal.fire({
            title: 'Are you sure?',
            text: 'You will not be able to recover this Account Type!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '@Url.Action("DeleteAccountType", "AccountType")',
                    type: 'POST',
                    data: { id: id },
                    success: function (res) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Account Type deleted successfully',
                            showConfirmButton: false,
                            timer: 1500
                        });
                        location.reload()
                    },
                    error: function (xhr, status, error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Something went wrong!'
                        });
                    },
                });
            }
        });
    }

    function editAccountType(id) {
        $.ajax({
            url: '@Url.Action("GetAccountTypeById", "AccountType")',
            type: 'POST',
            data: { id: id },
            success: function (res) {
                $("#accountTypeModalLabel").html("Edit Account Type");
                $("#accountTypeId").val(res.AccountTypeId);
                $("#accountTypeName").val(res.Type);
                $("#newAccountTypeModal").modal('show');
            },
            error: function (xhr, status, error) {
                console.error('Error:', error);
                alert('Failed to retrieve data');
            },
        });
    }
</script>