@model IEnumerable<PMS_PropertyHapa.Models.DTO.LeaseDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!-- Page Sidebar Ends-->
<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <h3>Lease</h3>
                </div>
                <div class="col-12 col-sm-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item">Lease</li>
                        <li class="breadcrumb-item active">List</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid my-4">
        <div class="row">
            <!-- Column 1: Properties Table (80% on lg screens) -->
            <div class="col-12 col-lg-10 mb-4">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">

                        <div class="left-side-header">
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g>
                                            <g>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.2753 2.71436C16.0029 2.71436 19.8363 6.54674 19.8363 11.2753C19.8363 16.0039 16.0029 19.8363 11.2753 19.8363C6.54674 19.8363 2.71436 16.0039 2.71436 11.2753C2.71436 6.54674 6.54674 2.71436 11.2753 2.71436Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M19.8987 18.4878C20.6778 18.4878 21.3092 19.1202 21.3092 19.8983C21.3092 20.6783 20.6778 21.3097 19.8987 21.3097C19.1197 21.3097 18.4873 20.6783 18.4873 19.8983C18.4873 19.1202 19.1197 18.4878 19.8987 18.4878Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                            </g>
                                        </g>
                                    </svg>
                                    </svg>
                                </span>
                                <input class="form-control" type="text" placeholder="Search Lease" id="searchInput" aria-label="search" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" class="tableHeaderbg">Lease ID</th>
                                        <th scope="col" class="tableHeaderbg">Start Date</th>
                                        <th scope="col" class="tableHeaderbg">End Date</th>
                                        <th scope="col" class="tableHeaderbg">Selected Property</th>
                                        <th scope="col" class="tableHeaderbg">Selected Unit</th>
                                        <th scope="col" class="tableHeaderbg">Rent Charges</th>
                                        <th scope="col" class="tableHeaderbg">Security Deposit</th>
                                        <th scope="col" class="tableHeaderbg">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var lease in Model)
                                    {
                                        <tr>
                                            <td>
                                                <div class="d-flex border-0 gap-2 align-items-center">
                                                    <img class="img-fluid rounded-1" src="@lease.SignatureImagePath" alt="" style="max-width: 50px; height: auto;">
                                                    <div class="d-flex flex-column border-0">
                                                        <div class="d-flex border-0 flex-column align-items-baseline">
                                                            <span class="fw-bold tableFontSize">@lease.LeaseId</span>@* 
                                                            <span class="fw-bold tableFontSize">@lease.StartDate.ToString("d") - @lease.EndDate.ToString("d")</span> *@
                                                        </div>
                                                        <div class="d-flex border-0 flex-column align-items-baseline">
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="tableFontSize">@lease.StartDate</td> 
                                            <td class="tableFontSize">@lease.EndDate</td>
                                            <td class="tableFontSize">@lease.SelectedProperty</td>
                                            <td class="tableFontSize">@lease.SelectedUnit</td>
                                            <td class="tableFontSize">@lease.RentCharges.Count()</td>
                                            <td class="tableFontSize">@lease.SecurityDeposits.Count()</td>
                                            <td class="tableFontSize">
                                                <a href="@Url.Action("EditLease", "Lease", new { leaseId = lease.LeaseId })" class="btn btn-primary mb-1">Edit</a>
                                                <a href="@Url.Action("InvoiceDetails", "Lease", new { leaseId = lease.LeaseId })" class="btn btn-primary mb-1">Invoice</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-12 col-lg-2">

                <div class="mb-2">
                    <a class="btn btn-info w-100 d-flex border-0 align-items-center" href="@Url.Action("AddLease","Lease")">
                        <div class="plusCircle">
                            +
                        </div>
                        New Lease
                    </a>
                </div>
                <!-- Statistics Panels -->

                <div class="">
                    <div class="card bg-primary text-white" style="margin-bottom: 10px !important;">
                        <div class="card-body cardBody">
                            <div class="card-title d-flex flex-column border-bottom ">
                                <span>18</span>
                                <span>UNITS</span>

                            </div>
                            <div class="d-flex border-0 ">
                                <p class="card-text">Total <br /> Occupancy</p>
                                <!-- Circle progress -->
                                <div class="circular-progress-container">
                                    <div class="circular-progress-bar" style="--progress: 75;">
                                        <div class="value-container">75%</div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex border-0 ">
                                <div class="d-flex border-0 flex-column ">
                                    <span class="card-text">Behind In</span>
                                    <p class="card-text">Rent <br /> Payments</p>
                                </div>
                                <!-- Circle progress -->
                                <div class="circular-progress-container">
                                    <div class="circular-progress-bar" style="--progress: 45; --circle-progress-color:#ef5b5b ">
                                        <div class="value-container">45%</div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="">
                    <div class="card CardGreen text-white">
                        <div class="card-body cardBody">
                            <div class="card-title d-flex flex-column">
                                <span>6</span>
                                <span>UNITS With VACANCY</span>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="">
                    <div class="card CardRed text-white">
                        <div class="card-body cardBody">
                            <div class="card-title d-flex flex-column">
                                <span>14</span>
                                <span>UNITS With OVERDUE BALANCE</span>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="">
                    <div class="card cardInfo text-white">
                        <div class="card-body cardBody">
                            <div class="card-title d-flex flex-column">
                                <span>3</span>
                                <span>UNITS With OPEN MANTAINCEN REQUEST</span>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
<script>
    $(document).ready(function () {
        $("#searchInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>