@using Microsoft.AspNetCore.Identity
@using PMS_PropertyHapa.Models.Roles
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
@using Microsoft.Extensions.Configuration
@using PMS_PropertyHapa.Staff.Services
@using PMS_PropertyHapa.Staff.Services.IServices
@using System.Security.Claims
@using static PMS_PropertyHapa.Shared.Enum.SD
@inject IConfiguration Configuration
@inject IPermissionService _permissionService;

@{
    string displayName = "";
    string imagePath = "";
    var user = await UserManager.GetUserAsync(User);
    if (user == null)
    {
        displayName = User.Identity.Name;
        imagePath = "";
    }
    else
    {
        displayName = user.UserName;
        imagePath = user.Picture;
    }
    var ImageURL = Configuration.GetSection("ImageURl")["URL"].ToString();

    var userId = Context.Request.Cookies["userId"];
    bool viewLandlordPermission = await _permissionService.HasAccess(userId, (int)UserPermissions.ViewLandlord);
    bool viewAssetPermission = await _permissionService.HasAccess(userId, (int)UserPermissions.ViewAssets);
    bool viewTenantPermission = await _permissionService.HasAccess(userId, (int)UserPermissions.ViewTenant);
    bool viewApplicationPermission = await _permissionService.HasAccess(userId, (int)UserPermissions.ViewApplication);
    bool viewLeasePermission = await _permissionService.HasAccess(userId, (int)UserPermissions.ViewLease);
    bool viewMaintancePermission = await _permissionService.HasAccess(userId, (int)UserPermissions.ViewMaintenance);
    bool viewVendorPermission = await _permissionService.HasAccess(userId, (int)UserPermissions.ViewVendor);
    bool viewAccountingPermission = await _permissionService.HasAccess(userId, (int)UserPermissions.ViewAccounting);
    bool viewTaskPermission = await _permissionService.HasAccess(userId, (int)UserPermissions.ViewTask);
    bool viewCommunicationPermission = await _permissionService.HasAccess(userId, (int)UserPermissions.ViewCommunication);
    bool viewCalendarPermission = await _permissionService.HasAccess(userId, (int)UserPermissions.ViewCalendar);
    bool viewReportsPermission = await _permissionService.HasAccess(userId, (int)UserPermissions.ViewReports);
    bool viewDocumentsPermission = await _permissionService.HasAccess(userId, (int)UserPermissions.ViewDocuments);
    bool viewPaymentIntegrationPermission = await _permissionService.HasAccess(userId, (int)UserPermissions.PaymentIntegration);
    bool viewQuickBookIntegrationPermission = await _permissionService.HasAccess(userId, (int)UserPermissions.QuickBookIntegration);
    bool viewSupportCenterPermission = await _permissionService.HasAccess(userId, (int)UserPermissions.ViewSupportCenter);
    bool viewSettingPermission = await _permissionService.HasAccess(userId, (int)UserPermissions.AddLateFee);
    bool viewSubscriptionPermission = await _permissionService.HasAccess(userId, (int)UserPermissions.AddSubscription);

}
<!DOCTYPE html>
<html lang="en">
<head>
   @*  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Include Bootstrap CSS and JS for modal (optional) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <link rel="icon" id="faviconIcon" type="image/x-icon">
    <link rel="shortcut icon" href="" type="image/x-icon" id="Org_iconshort">
    <title>PMC Portal</title>
    <!-- Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Dashboard/assets/css/vendors/font-awesome.css">
    <!-- ico-font-->
    <link rel="stylesheet" type="text/css" href="~/Dashboard/assets/css/vendors/icofont.css">
    <!-- Themify icon-->
    <link rel="stylesheet" type="text/css" href="~/Dashboard/assets/css/vendors/themify.css">
    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="~/Dashboard/assets/css/vendors/flag-icon.css">
    <!-- Feather icon-->
    <link rel="stylesheet" type="text/css" href="~/Dashboard/assets/css/vendors/feather-icon.css">
    <!-- Plugins css start-->
    <link rel="stylesheet" type="text/css" href="~/Dashboard/assets/css/vendors/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="~/Dashboard/assets/css/vendors/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Dashboard/assets/css/vendors/chartist.css">
    <link rel="stylesheet" type="text/css" href="~/Dashboard/assets/css/vendors/date-picker.css">
    <link rel="stylesheet" type="text/css" href="~/Dashboard/assets/css/vendors/photoswipe.css">
    <link rel="stylesheet" type="text/css" href="~/Dashboard/assets/css/vendors/owlcarousel.css">
    <link rel="stylesheet" type="text/css" href="~/Dashboard/assets/css/vendors/prism.css">
    <!-- Plugins css Ends-->
    <!-- Plugins css start-->
    <link href="~/dashboard/assets/css/vendors/select2.css" rel="stylesheet" />


    <link href="~/dashboard/assets/css/customstyle.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Dashboard/assets/css/vendors/scrollbar.css">
    
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="~/Dashboard/assets/css/vendors/bootstrap.css">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="~/Dashboard/assets/css/style.css">
    <link id="color" rel="stylesheet" href="~/Dashboard/assets/css/color-1.css" media="screen">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="~/dashboard/assets/css/vendors/jkanban.css" />

    <link rel="stylesheet" type="text/css" href="~/Dashboard/assets/css/responsive.css">
    
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet"> *@

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Dashboard - Demo</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <!-- <link href="assets/img/favicon.png" rel="icon" /> -->
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css"
          rel="stylesheet" />
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css"
          rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Dashboard/assets/css/vendors/date-picker.css">
    <link href="~/assets/vendor/date-picker/css/datepicker.material.css" rel="stylesheet" />
    
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="~/assets/vendor/quill/quill.snow.css" rel="stylesheet" />
    <link href="~/assets/vendor/quill/quill.bubble.css" rel="stylesheet" />
    <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="~/assets/vendor/simple-datatables/style.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.4/dist/sweetalert2.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Dashboard/assets/css/vendors/datatables.css">
    <!-- Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <style>
        .page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .logo-wrapper, .page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .logo-icon-wrapper {
            padding: 3px 30px !important;
        }

        .page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .sidebar-main .simplebar-offset {
            height: calc(100vh - 15vh);
        }

        #trialNotification {
            padding: 10px;
            background-color: #f8d7da;
            color: #721c24;
            border: 1px solid #f5c6cb;
            border-radius: 5px;
            margin-bottom: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
    <!-- Loader starts-->
@*     <div class="loader-wrapper">
        <div class="loader">
            <div class="loader-bar"></div>
            <div class="loader-bar"></div>
            <div class="loader-bar"></div>
            <div class="loader-bar"></div>
            <div class="loader-bar"></div>
            <div class="loader-ball"></div>
        </div>
    </div>
 *@    <!-- Loader ends-->


    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="toggle-wrap">
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div>
        <!-- End toggle sidebar -->

        <div class="search-bar ms-auto">
            <form class="search-form d-flex align-items-center"
                  method="POST"
                  action="#">
                <input type="text"
                       name="query"
                       placeholder="Search"
                       title="Enter search keyword" />
                <button type="submit" title="Search">
                    <i class="bi bi-search"></i>
                </button>
            </form>
        </div>
        <!-- End Search Bar -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle" href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li>
                <!-- End Search Icon-->

                <li class="nav-item dropdown">
                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-bell"></i>
                        <span class="badge bg-primary badge-number">4</span>
                    </a><!-- End Notification Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                        <li class="notification-item">
                            <i class="bi bi-info-circle text-primary"></i>
                            <div>
                                <h4>Notification Title</h4>
                                <p>
                                    There is no one who loves pain itself, who seeks after it
                                    and wants to have it, simply because it is pain.
                                </p>
                                <p>30 min. ago</p>
                            </div>
                            <i class="bi bi-x close-icon" 
                               onclick="closeNotification(this)"></i>
                        </li>

                        <li class="notification-item">
                            <i class="bi bi-check-circle text-success"></i>
                            <div>
                                <h4>Notification Title</h4>
                                <p>
                                    There is no one who loves pain itself, who seeks after it
                                    and wants to have it, simply because it is pain.
                                </p>
                                <p>1 hr. ago</p>
                            </div>
                            <i class="bi bi-x close-icon"
                               onclick="closeNotification(this)"></i>
                        </li>

                        <li class="notification-item">
                            <i class="bi bi-exclamation-circle text-warning"></i>
                            <div>
                                <h4>Notification Title</h4>
                                <p>
                                    There is no one who loves pain itself, who seeks after it
                                    and wants to have it, simply because it is pain.
                                </p>
                                <p>2 hrs. ago</p>
                            </div>
                            <i class="bi bi-x close-icon"
                               onclick="closeNotification(this)"></i>
                        </li>

                        <li class="notification-item">
                            <i class="bi bi-x-circle text-danger"></i>
                            <div>
                                <h4>Notification Title</h4>
                                <p>
                                    There is no one who loves pain itself, who seeks after it
                                    and wants to have it, simply because it is pain.
                                </p>
                                <p>4 hrs. ago</p>
                            </div>
                            <i class="bi bi-x close-icon"
                               onclick="closeNotification(this)"></i>
                        </li>

                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li class="dropdown-footer">
                            <a href="#">Show all notifications</a>
                        </li>
                    </ul>

                    <!-- End Notification Dropdown Items -->
                </li>
                <!-- End Notification Nav -->

                <li class="nav-item dropdown">
                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-chat-left-text"></i>
                        <span class="badge bg-success badge-number">3</span>
                    </a><!-- End Messages Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                        <!-- <li class="dropdown-header">
                          You have 3 new messages
                          <a href="#"
                            ><span class="badge rounded-pill bg-primary p-2 ms-2"
                              >View all</span
                            ></a
                          >
                        </li>
                        <li>
                          <hr class="dropdown-divider" />
                        </li> -->

                        <li class="message-item">
                            <a href="#">
                                <img src="~/assets/img/messages-1.jpg"
                                     alt=""
                                     class="rounded-circle" />
                                <div>
                                    <h4>Maria Hudson</h4>
                                    <p>
                                        Velit asperiores et ducimus soluta repudiandae labore
                                        officia est ut...
                                    </p>
                                    <p>4 hrs. ago</p>
                                </div>
                            </a>
                        </li>

                        <li class="message-item">
                            <a href="#">
                                <img src="~/assets/img/messages-2.jpg"
                                     alt=""
                                     class="rounded-circle" />
                                <div>
                                    <h4>Anna Nelson</h4>
                                    <p>
                                        Velit asperiores et ducimus soluta repudiandae labore
                                        officia est ut...
                                    </p>
                                    <p>6 hrs. ago</p>
                                </div>
                            </a>
                        </li>

                        <li class="message-item">
                            <a href="#">
                                <img src="~/assets/img/messages-3.jpg"
                                     alt=""
                                     class="rounded-circle" />
                                <div>
                                    <h4>David Muldon</h4>
                                    <p>
                                        Velit asperiores et ducimus soluta repudiandae labore
                                        officia est ut...
                                    </p>
                                    <p>8 hrs. ago</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>

                        <li class="dropdown-footer">
                            <a href="#">Show all messages</a>
                        </li>
                    </ul>
                    <!-- End Messages Dropdown Items -->
                </li>
                <!-- End Messages Nav -->

                <li class="nav-item dropdown">
                    <a class="nav-link nav-profile d-flex align-items-center pe-0"
                       href="#"
                       data-bs-toggle="dropdown">
                        <img src="~/assets/img/profile-img.jpg"
                             alt="Profile"
                             class="rounded-circle" />
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>Admin</h6>
                            <span>Active</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <i class="bi bi-person"></i>
                                <span>My Profile</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <i class="bi bi-gear"></i>
                                <span>Account Settings</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <i class="bi bi-question-circle"></i>
                                <span>Need Help?</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Sign Out</span>
                            </a>
                        </li>
                    </ul>
                    <!-- End Profile Dropdown Items -->
                </li>
                <!-- End Profile Nav -->
            </ul>
        </nav>
        <!-- End Icons Navigation -->
    </header>
    <!-- End Header -->
    <!-- ======= Header ======= -->
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
        <a href="index.html"
           class="logo d-flex align-items-center justify-content-center">
            <img src="~/assets/img/demo-logo.png" alt="logo" />
        </a>
        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="@Url.Action("Index","Home")">
                    <i class="bi bi-grid"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            @if (viewLandlordPermission)
            {
                <li class="nav-item">
                    <a class="nav-link collapsed" href="@Url.Action("Index","Landlord")">
                        <i class="bi bi-house-door"></i>
                        <span>Landlord</span>
                    </a>
                </li>
            }
            @if (viewAssetPermission)
            {
                <li class="nav-item">
                    <a class="nav-link collapsed" href="@Url.Action("Index","Assests")">
                    <i class="bi bi-houses"></i>
                    <span>Assets</span>
                </a>
            </li>
            }
            @if (viewTenantPermission)
            {
                <li class="nav-item">
                    <a class="nav-link collapsed" href="@Url.Action("Index","Tenant")">
                    <i class="bi bi-pin-map"></i>
                    <span>Tenant</span>
                </a>
            </li>
            }
            @if (viewApplicationPermission)
            {
                <li class="nav-item">
                    <a class="nav-link collapsed" href="@Url.Action("ViewApplication","Applications")">
                    <i class="bi bi-window"></i>
                    <span>Application</span>
                </a>
            </li>
            }
            @if (viewLeasePermission)
            {
                <li class="nav-item">
                    <a class="nav-link collapsed" href="@Url.Action("Index","Lease")">
                    <i class="bi bi-recycle"></i>
                    <span>Lease</span>
                </a>
            </li>
            }
            @if (viewMaintancePermission)
            {
                <li class="nav-item">
                    <a class="nav-link collapsed" href="@Url.Action("Index","Maintenance")">
                    <i class="bi bi-sliders"></i>
                    <span>Maintance</span>
                </a>
            </li>
            }
            @if (viewVendorPermission)
            {
                <li class="nav-item">
                    <a class="nav-link collapsed" href="@Url.Action("Index","Vendor")">
                        <i class="bi bi-box-arrow-right"></i>
                        <span>Vendor</span>
                    </a>
                </li>
            }
            @if (viewAccountingPermission)
            {
            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("Index","Accounting")">
                    <i class="bi bi-archive"></i>
                    <span>Accounting</span>
                </a>
            </li>
            }
            @if (viewTaskPermission)
            {
                <li class="nav-item">
                    <a class="nav-link collapsed" href="@Url.Action("ViewTask","Task")">
                    <i class="bi bi-database"></i>
                    <span>Task</span>
                    </a>
                </li>
            }
            @if (viewCommunicationPermission)
            {
                <li class="nav-item">
                    <a class="nav-link collapsed" href="@Url.Action("Index","Communication")">
                    <i class="bi bi-broadcast"></i>
                    <span>Communication</span>
                    </a>
                </li>
            }
            @if (viewCalendarPermission)
            {
                <li class="nav-item">
                    <a class="nav-link collapsed" href="@Url.Action("Index","Calendar")">
                        <i class="bi bi-calendar-check"></i>
                        <span>Calendar</span>
                    </a>
                </li>
            }
            @if (viewReportsPermission)
            {
                <li class="nav-item">
                    <a class="nav-link collapsed" href="@Url.Action("Index","Reports")">
                    <i class="bi bi-file-bar-graph"></i>
                    <span>Reports</span>
                    </a>
                </li>
            }
            @if (viewDocumentsPermission)
            {
                <li class="nav-item">
                    <a class="nav-link collapsed" href="@Url.Action("Documents","Documents")">
                    <i class="bi bi-files"></i>
                    <span>Documents</span>
                </a>
            </li>
            }
            @if (viewPaymentIntegrationPermission || viewQuickBookIntegrationPermission)
            {
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#integrationSubmenu" aria-expanded="false">
                        <i class="bi bi-gear-wide"></i>
                        <span>Integration</span>
                    </a>
                    <ul id="integrationSubmenu" class="collapse list-unstyled">
                        @if (viewPaymentIntegrationPermission)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("PaymentIntegration","Services")">
                                    <span>Payment Integration</span>
                                </a>
                            </li>
                        }
                        @if (viewQuickBookIntegrationPermission)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("QuickBookIntegration","Services")">
                                    <span>QuickBook Integration</span>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }
            @if (viewSupportCenterPermission)
            {
                <li class="nav-item">
                    <a class="nav-link collapsed" href="@Url.Action("Index","SupportCenter")">
                    <i class="bi bi-headset"></i>
                    <span>Support Center</span>
                    </a>
                </li>
            }
            @if (viewSubscriptionPermission)
            {
                <li class="nav-item">
                    <a class="nav-link collapsed" href="@Url.Action("Index","Subscriptions")">
                        <i class="bi bi-calendar-month"></i>
                        <span>Subscription</span>
                    </a>
                </li>
            }
            @if (viewSettingPermission)
            {
                <li class="nav-item mt-5">
                    <a class="nav-link collapsed" href="@Url.Action("Settings","LateFee")">
                    <i class="bi bi-gear"></i>
                    <span>Setting</span>
                    </a>
                </li>
            }
            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("Login","auth")">
                    <i class="bi bi-box-arrow-right"></i>
                    <span>Log Out</span>
                </a>
            </li>
        </ul>
    </aside>
    <!-- End Sidebar-->

    <main id="main" class="main">
        <!-- ======= Notification Bar START ======= -->
        <div class="page-body d-none" id="trialBody" style="min-height:10px">
            <div class="container-fluid">
                <div class="row">
                    <div id="trialNotification">
                    </div>
                </div>
            </div>
        </div>
        <!-- ======= Notification Bar END ======= -->
        @RenderBody()
    </main>





    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="footer-logo">Demo</div>
        <div class="footer-links">
            <a href="#">Terms & condition</a> || <a href="#">Privacy Policy</a>
        </div>
        <div class="footer-contact">
            <p>Contact</p>
            <a href="mailto:pmc.propertyhapa.com">pmc.propertyhapa.com</a>
        </div>
    </footer>
    <!-- End Footer -->
    </div>
    </div>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalCenterTitle">Change Organization Info</h3>
                    <button type="button" onclick="closeModal()" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Form for TenantOrganizationInfoDTO -->
                    <form id="tenantOrganizationInfoForm">
                        <div class="form-group">
                            <label for="organizationName">Organization Name</label>
                            <input type="text" class="form-control" id="organizationName" name="organizationName" placeholder="Enter organization name">
                        </div>
                        <div class="form-group">
                            <label for="organizationDescription">Organization Description</label>
                            <textarea class="form-control" id="organizationDescription" name="organizationDescription" rows="3" placeholder="Enter organization description"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="organizationPrimaryColor">Organization Primary Color</label>
                            <input type="color" class="form-control" id="organizationPrimaryColor" name="organizationPrimaryColor">
                        </div>
                        <div class="form-group">
                            <label for="organizationSecondaryColor">Organization Secondary Color</label>
                            <input type="color" class="form-control" id="organizationSecondaryColor" name="organizationSecondaryColor">
                        </div>
                        <div class="form-group">
                            <label for="organizationLogoUploader">Organization Logo</label>
                            <input type="file" class="form-control-file" id="organizationLogoUploader" accept="image/*">
                            <img id="organizationLogoPreview" src="" alt="Logo Preview" style="max-width: 100%; margin-top: 10px;" />
                        </div>

                        <div class="form-group">
                            <label for="organizationIconUploader">Organization Icon</label>
                            <input type="file" class="form-control-file" id="organizationIconUploader" accept="image/*">
                            <img id="organizationIconPreview" src="" alt="Icon Preview" style="max-width: 100%; margin-top: 10px;" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="closeModal()" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" id="saveChangesButton">Save Changes</button>
                </div>
            </div>
        </div>
    </div>

    <a href="#"
       class="back-to-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>

    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/assets/vendor/date-picker/datepicker.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/chart.js/chart.umd.js"></script>
    <script src="~/assets/vendor/echarts/echarts.min.js"></script>
    <script src="~/assets/vendor/quill/quill.js"></script>
    <script src="~/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="~/Dashboard/assets/js/jquery-3.5.1.min.js"></script>
    <script src="~/Dashboard/assets/js/config.js"></script>
    <script src="~/dashboard/assets/js/datepicker/date-picker/datepicker.js"></script>
    <script src="~/dashboard/assets/js/datepicker/date-picker/datepicker.en.js"></script>
    <!-- Main JS File -->
    <script src="~/assets/js/main.js"></script>
    <!-- Charts Custom JS File -->
    <script src="~/assets/js/chartsScripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.4/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

    <script src="~/Dashboard/assets/js/datatable/datatables/jquery.dataTables.min.js"></script>
    
    @*  <!-- latest jquery-->
    <script src="~/Dashboard/assets/js/jquery-3.5.1.min.js"></script>
    <!-- Bootstrap js-->
    <script src="~/Dashboard/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <!-- feather icon js-->
    <script src="~/Dashboard/assets/js/icons/feather-icon/feather.min.js"></script>
    <script src="~/Dashboard/assets/js/icons/feather-icon/feather-icon.js"></script>
    <!-- scrollbar js-->
    <script src="~/Dashboard/assets/js/scrollbar/simplebar.js"></script>
    <script src="~/Dashboard/assets/js/scrollbar/custom.js"></script>
    <!-- Sidebar jquery-->
    <script src="~/Dashboard/assets/js/config.js"></script>
    <!-- Plugins JS start-->
    <script src="~/dashboard/assets/js/sidebar-menu.js"></script>
    <script src="~/dashboard/assets/js/select2/select2.full.min.js"></script> 
    <script src="~/Dashboard/assets/js/chart/google/google-chart-loader.js"></script>
    <script src="~/Dashboard/assets/js/chart/google/google-chart.js"></script>
    <script src="~/dashboard/assets/js/chart/knob/knob.min.js"></script>
    <script src="~/dashboard/assets/js/chart/knob/knob-chart.js"></script>
    <script src="~/dashboard/assets/js/chart/apex-chart/apex-chart.js"></script>
    <script src="~/dashboard/assets/js/chart/apex-chart/stock-prices.js"></script>
    <script src="~/dashboard/assets/js/jkanban/jkanban.js"></script>
    <script src="~/dashboard/assets/js/notify/bootstrap-notify.min.js"></script>
    <script src="~/dashboard/assets/js/notify/index.js"></script>
    <script src="~/dashboard/assets/js/dashboard/default.js"></script>
    <script src="~/dashboard/assets/js/datepicker/date-picker/datepicker.js"></script>
    <script src="~/dashboard/assets/js/datepicker/date-picker/datepicker.en.js"></script>
    <script src="~/dashboard/assets/js/photoswipe/photoswipe.min.js"></script>
    <script src="~/dashboard/assets/js/photoswipe/photoswipe-ui-default.min.js"></script>
    <script src="~/dashboard/assets/js/photoswipe/photoswipe.js"></script>
    <script src="~/dashboard/assets/js/typeahead/handlebars.js"></script>
    <script src="~/dashboard/assets/js/typeahead/typeahead.bundle.js"></script>
    <script src="~/dashboard/assets/js/typeahead-search/handlebars.js"></script>
    <script src="~/dashboard/assets/js/height-equal.js"></script>
    <script src="~/Dashboard/assets/js/chart/chartjs/chart.min.js"></script>
    <script src="~/Dashboard/assets/js/chart/chartist/chartist.js"></script>
    <script src="~/Dashboard/assets/js/chart/chartist/chartist-plugin-tooltip.js"></script>
    <script src="~/Dashboard/assets/js/prism/prism.min.js"></script>
    <script src="~/Dashboard/assets/js/counter/jquery.waypoints.min.js"></script>
    <script src="~/Dashboard/assets/js/counter/jquery.counterup.min.js"></script>
    <script src="~/Dashboard/assets/js/owlcarousel/owl.carousel.js"></script>
    <script src="~/Dashboard/assets/js/dashboard/dashboard_2.js"></script>
    <script src="~/Dashboard/assets/js/tooltip-init.js"></script>
    <!-- Plugins JS Ends-->
    <!-- Theme js-->
    <script src="~/Dashboard/assets/js/script.js"></script>
    <script src="~/Dashboard/assets/js/theme-customizer/customizer.js"></script>
    <!-- login js-->
    <!-- Plugin used-->
    <!-- Plugins JS start-->
    

    
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@6.1.11/index.global.min.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script> *@

    <script>
        $(document).ready(function () {
            //debugger;
            var organizationName = localStorage.getItem('organizationName');
            var organizationLogo = localStorage.getItem('organizationLogo');
            var organizationIcon = localStorage.getItem('organizationIcon');
            var organizationDescription = localStorage.getItem('organizationDescription');
            var tid = localStorage.getItem('tid');
            if (tid) {
                fetchTenantOrganizationInfo(tid);
            } else {
                console.error('Tenant ID not found');
            }
            var primaryColor = localStorage.getItem('primaryColor');
            var secondaryColor = localStorage.getItem('secondaryColor');
            if (organizationLogo != null) {
                $('#NewPictureBase64').attr('src', organizationLogo);
            }
            if (organizationName != null) {
                document.title = "Dashboard" + " " + "-" + " " + organizationName;
                document.getElementById('companyname').innerHTML = "Copyright 2024 ©" + " " + "-" + " " + organizationName;
                var urls = '@Html.Raw(Configuration.GetSection("ImageURl")["URL"].ToString())';
                var imageUrl = urls.concat(organizationLogo);
                var imageiconUrl = urls.concat(organizationIcon);

            }
            $('.select2').select2({
                allowClear: true,
                placeholder: "Please select an option"
            });
            $('.datepickerSingle').datepicker({
                orientation: "bottom left",
                format: "mm/dd/yyyy",
            });

            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };

        });
    </script>

    <script>
        $(document).ready(function () {
                $.ajax({
                url: '/Home/GetUserRoles',
                    type: 'GET',
                    success: function (response) {
                        console.log("response")
                        console.log(response)
                        if (response.IsTrial) {
                            $("#assestsSideBar").css("display", "none");
                            $("#applicationsSideBar").css("display", "none");
                            $("#vendorSideBar").css("display", "none");
                            $("#accountingSideBar").css("display", "none");
                            $("#taskSideBar").css("display", "none");
                            $("#calendarSideBar").css("display", "none");
                            $("#reportsSideBar").css("display", "none");
                            $("#integrationSideBar").css("display", "none");
                            $("#supportCenterSideBar").css("display", "none");
                            $("#lateFeeSideBar").css("display", "none");
                            $("#subscriptionsSideBar").css("display", "none");
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('Error fetching roles:', error);
                    }
                });
            
            function openModal() {
                $('#exampleModalCenter').modal('show');
            }

            $('#changeColorSchemaButton').click(function (e) {
                e.preventDefault();
                openModal();
            });
        });

        function closeModal() {
            $('#exampleModalCenter').modal('hide');
        }


        function fetchTenantOrganizationInfo(tid) {
            $.ajax({
                url: '/Auth/GetTenantOrganizationInfo',
                type: 'GET',
                data: { tenantId: tid },
                success: function (response) {
                     //debugger;
                    var data = response.data;
                    $('#organizationName').val(data.OrganizationName);
                    $('#organizationDescription').val(data.OrganizationDescription);

                    $('#organizatioPrimaryColor').val(data.OrganizatioPrimaryColor);
                    $('#organizationSecondColor').val(data.OrganizationSecondColor);
                    $('#organizationLogoPreview').attr("src", data.OrganizationLogo);
                    $('#organizationIconPreview').attr("src", data.OrganizationIcon);
                    

                },
                error: function (xhr, status, error) {
                    console.error('Error fetching data:', error);
                }
            });
        }



        $(document).ready(function () {

            var Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            });

            function convertFileToBase64(file) {
                return new Promise((resolve, reject) => {
                    if (!file) {
                        resolve(null);
                    } else {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            resolve(e.target.result);
                        };
                        reader.onerror = reject;
                        reader.readAsDataURL(file);
                    }
                });
            }

            function updateColorInputs() {
                var primaryColor = localStorage.getItem('primaryColor') || '#000000';
                var secondaryColor = localStorage.getItem('secondaryColor') || '#000000';
                $('#organizationPrimaryColor').val(primaryColor);
                $('#organizationSecondaryColor').val(secondaryColor);
                changePrimaryColor(primaryColor);
                changeSecondaryColor(secondaryColor);
            }

            updateColorInputs();

            // Apply stored color settings on page load
            if (localStorage.getItem("primaryColor")) {
                changePrimaryColor(localStorage.getItem("primaryColor"));
            }

            if (localStorage.getItem("secondaryColor")) {
                changeSecondaryColor(localStorage.getItem("secondaryColor"));
            }

            // Event bindings for color changes
            $('#organizationPrimaryColor').change(function () {
                var color = $(this).val();
                changePrimaryColor(color);
                localStorage.setItem("primaryColor", color);
            });

            $('#organizationSecondaryColor').change(function () {
                var color = $(this).val();
                changeSecondaryColor(color);
                localStorage.setItem("secondaryColor", color);
            });

            function changePrimaryColor(color) {
                document.documentElement.style.setProperty('--primary-color', color);
                $('.primary-color-dependent').css('background-color', color);
            }

            function changeSecondaryColor(color) {
                document.documentElement.style.setProperty('--secondary-color', color);
                $('.secondary-color-dependent').css('background-color', color);
            }

            $('#saveChangesButton').click(function () {
                saveTenantOrganizationInfo();
            });

            $("#organizationLogoUploader").change(function () {
                readURL(this, '#organizationLogoPreview');
            });

            $("#organizationIconUploader").change(function () {
                readURL(this, '#organizationIconPreview');
            });

            function readURL(input, previewId) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $(previewId).attr('src', e.target.result);
                    };
                    reader.readAsDataURL(input.files[0]);
                }
            }

            function saveTenantOrganizationInfo() {
                var tenantOrganizationInfoData = {
                    Id: localStorage.getItem('tid') || 0,
                    OrganizationName: $('#organizationName').val(),
                    OrganizationDescription: $('#organizationDescription').val(),
                    OrganizatioPrimaryColor: $('#organizationPrimaryColor').val(),
                    OrganizationSecondColor: $('#organizationSecondaryColor').val(),
                    TempTenantUserId: localStorage.getItem('userId')
                };

                var logoFile = $('#organizationLogoUploader').get(0).files[0];
                var iconFile = $('#organizationIconUploader').get(0).files[0];
                if (logoFile) {
                    tenantOrganizationInfoData.OrganizationLogoName = logoFile.name;
                }
                if (iconFile) {
                    tenantOrganizationInfoData.OrganizationIconName = iconFile.name;
                }

                Promise.all([
                    convertFileToBase64(logoFile),
                    convertFileToBase64(iconFile)
                ]).then(function (values) {
                    tenantOrganizationInfoData.OrganizationLogo = values[0];
                    tenantOrganizationInfoData.OrganizationIcon = values[1];


                    $.ajax({
                        url: '/Auth/SaveTenantOrganizationInfo',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(tenantOrganizationInfoData),
                        success: function (response) {
                            Toast.fire({
                                icon: 'success',
                                title: 'Settings saved successfully',
                                timer: 3000,
                                willClose: () => {
                                    $('#exampleModalCenter').modal('hide');
                                    setTimeout(function () {

                                        if (values[0]) {
                                            localStorage.setItem('organizationLogo', values[0]);
                                            $('#NewPictureBase64').attr('src', values[0]);
                                        }
                                        if (values[1]) {
                                            localStorage.setItem('organizationIcon', values[1]);
                                            $('#faviconIcon').attr('href', values[1]);
                                            document.getElementById('faviconIcon').href = values[1];
                                        }
                                        window.location.reload();
                                    }, 500);
                                }
                            });
                        },
                        error: function (xhr, status, error) {
                            Toast.fire({
                                icon: 'error',
                                title: 'Failed to save settings'
                            });
                        }
                    });

                }).catch(function (error) {
                    console.error('Error converting files', error);
                });
            }

            checkTrialDays();
        });

        function checkTrialDays() {
            $.ajax({
                url: '/Subscriptions/CheckTrialDays',
                method: 'GET',
                success: function (response) {
                    if(response){
                        const currentDate = new Date();
                        const startDate = new Date(response.StartDate);
                        const endDate = new Date(response.EndDate);

                        const timeDiff = endDate - currentDate;
                        const diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24)); 
                        if (response.IsTrial == true) { 
                            if (currentDate >= startDate && currentDate <= endDate) {
                                $('#trialNotification').html(`You have ${diffDays} trial days left.`);
                                $('#trialBody').removeClass('d-none');
                            } else {
                                $('#trialNotification').html('Your trial period has ended.');
                                $('#trialBody').removeClass('d-none');
                            }
                        }
                    }
                },
                error: function (error) {
                    console.error('Error fetching trial days:', error);
                }
            });
        }

        var organizationIconBase64 = localStorage.getItem('organizationIcon');

        if (organizationIconBase64) {
            var organizationIconDataURI = organizationIconBase64;
            var faviconIcon = document.getElementById('faviconIcon');
            if (faviconIcon) {
                faviconIcon.href = organizationIconDataURI;
            } else {
                console.error('faviconIcon element not found');
            }
        } else {
            console.error('organizationIconBase64 is empty or not found in localStorage');
        }




    </script>

</body>
</html>
